<div class="carte">
    <div class="titre">
        <img src="{{img}}" title="{{name}}" height="32" width="32"/>
        <div class="titre-nom">{{name}}</div>
    </div>
    <div class="carte-titre-desc">{{configLocalize "saisonnins" system.saisonnin}}</div>
    {{#if system.description}}
        <div class="carte-desc">{{editor system.description target="system.description" owner=true}}</div>
    {{/if}}
</div>