<div class="carte">
    <div class="entete">
        <img src="{{img}}" title="{{name}}" height="32" width="32"/>
        <span>{{name}}</span>
    </div>
    <div class="grid-2">
        <div>{{localize "agone.items.resonance"}}</div>
        <div>{{localize "agone.items.seuil"}}</div>
        <div>{{configLocalize "resonances" data.resonance}}</div>
        <div>{{data.seuil}}</div>
    </div>
    <div>{{editor content=data.description target="data.description" owner=true}}</div>
</div>