<div class="carte danseur" data-item-id="{{_id}}" data-owner-id="{{owner}}">
    <div class="entete">
        <img src="{{img}}" title="{{name}}" height="32" width="32"/>
        <span>{{name}}</span>
    </div>
    <div class="grid-3">
        <label>{{localize "agone.items.bonusEmprise"}}</label>
        <label>{{localize "agone.items.empathie"}}</label>
        <label>{{localize "agone.items.endurance"}}</label>
        <div>{{data.bonusEmprise}}</div>
        <div>{{data.empathie}}</div>
        <div>{{data.endurance.value}} / {{data.endurance.max}}</div>
    </div>
    <div class="boutons-carte">
        {{#each data.sorts as | sort | }}
            <div class="ligne-bouton sort" data-sort-id="{{sort.id}}">
                <a class="editer-item" title="{{localize "agone.common.details"}}"><i class="fas fa-book-open"></i></a>
                <button class="jet-sort">{{sort.data.name}} ({{sort.data.data.seuil}}{{#if sort.data.data.diffObedience}} + 5{{/if}})</button> <!-- <i class="fas fa-hand-sparkles"></i> -->
            </div>
        {{/each}}
    </div>
</div>