<div class="carte">
    <div class="entete">
        <img src="{{img}}" title="{{name}}" height="32" width="32"/>
        <span>{{name}}</span>
    </div>
    <div class="grid-2">
        <div>{{localize "agone.items.resonance"}}</div>
        <div>{{localize "agone.items.seuil"}}</div>
        <div>{{configLocalize "resonances" system.resonance}}</div>
        <div>{{system.seuil}}</div>
    </div>
    <div>{{editor system.description target="system.description" owner=true}}</div>
</div>