<div class="carte arme" data-item-id="{{_id}}" data-owner-id="{{owner}}">
    <div class="entete">
        <img src="{{img}}" title="{{name}}" height="32" width="32"/>
        <span>{{name}}</span>
    </div>
    <div class="grid-4">
        <label>{{localize "agone.items.modifInit"}}</label>
        <label>{{localize "agone.items.modifAttaque"}}</label>
        {{#if (eq data.style "melee")}}
            <label>{{localize "agone.items.modifParade"}}</label>
        {{else}}
            <label>{{localize "agone.items.portee"}}</label>
        {{/if}}
        <label>{{localize "agone.items.modifDommages"}}</label>
        <div>{{data.modifInit}}</div>
        <div>{{data.modifAttaque}}</div>
        {{#if (eq data.style "melee")}}
            <div>{{data.modifParade}}</div>
        {{else}}
            <div>{{data.portee}}</div>
        {{/if}}
        <div>{{data.modifDommages}}</div>
    </div>
    {{#if data.nonUtilisable}}
        <div class="fumble">{{localize "agone.chat.warnArmeNonUtilisableMsg"}}</div>
    {{else}}
        <div class="boutons-carte">
            {{#if (eq data.style "melee")}}
                <div class="ligne-btn-2">
                    <button class="attaque">{{localize "agone.chat.attaque"}}</button>
                    <button class="parade">{{localize "agone.chat.parade"}}</button>
                </div>
            {{else}}
                <button class="attaque">{{localize "agone.chat.attaque"}}</button>
            {{/if}}
        </div>
    {{/if}}
</div>