<div class="carte arme" data-item-id="{{_id}}" data-is-token="{{isToken}}" data-owner-id="{{owner}}">
    <div class="titre">
        <img src="{{img}}" title="{{name}}" height="32" width="32"/>
        <div class="titre-nom">{{name}}</div>
    </div>
    <div class="grid-4">
        <label class="entete">{{localize "agone.items.modifInit"}}</label>
        <label class="entete">{{localize "agone.items.modifAttaque"}}</label>
        {{#if (eq system.style "melee")}}
            <label class="entete">{{localize "agone.items.modifParade"}}</label>
        {{else}}
            <label class="entete">{{localize "agone.items.portee"}}</label>
        {{/if}}
        <label class="entete">{{localize "agone.items.modifDommages"}}</label>
        <div>{{system.modifInit}}</div>
        <div>{{system.modifAttaque}}</div>
        {{#if (eq system.style "melee")}}
            <div>{{system.modifParade}}</div>
        {{else}}
            <div>{{system.portee}}</div>
        {{/if}}
        <div>{{system.modifDommages}}</div>
    </div>
    {{#if system.nonUtilisable}}
        <div class="fumble">{{localize "agone.chat.warnArmeNonUtilisableMsg"}}</div>
    {{else}}
        <div class="boutons-carte">
            {{#if (eq system.style "melee")}}
                <div class="ligne-btn-2">
                    <button class="attaque"><i class="fa-duotone fa-sword"></i> {{localize "agone.chat.attaque"}}</button>
                    <button class="parade"><i class="fa-duotone fa-shield-halved"></i> {{localize "agone.chat.parade"}}</button>
                </div>
            {{else}}
                <div class="ligne-btn-1">
                    <button class="attaque"><i class="fa-duotone fa-sword"></i> {{localize "agone.chat.attaque"}}</button>
                </div>
            {{/if}}
        </div>
    {{/if}}
</div>