<div class="carte arme" data-item-id="{{_id}}" data-owner-id="{{owner}}">
    <div class="entete">
        <img src="{{img}}" title="{{name}}" height="32" width="32"/>
        <span>{{name}}</span>
    </div>
    <div class="grid">
        <label>{{localize "agone.arme.modifInit"}}</label>
        <label>{{localize "agone.arme.modifAttaque"}}</label>
        <label>{{localize "agone.arme.modifParade"}}</label>
        <label>{{localize "agone.arme.modifDommages"}}</label>
        <div>{{data.modifInit}}</div>
        <div>{{data.modifAttaque}}</div>
        <div>{{data.modifParade}}</div>
        <div>{{data.modifDommages}}</div>
    </div>
    <div class="boutons-carte">
        <button class="attaque">{{localize "agone.chat.attaque"}}</button>
        <button class="parade">{{localize "agone.chat.parade"}}</button>
    </div>
</div>