<div class="carte">
    <div class="titre">
        <img src="{{img}}" title="{{name}}" height="32" width="32"/>
        <div class="titre-nom">{{name}}</div>
    </div>
    <div class="grid-2">
        <div class="entete">{{localize "agone.common.type"}}</div>
        <div class="entete">{{localize "agone.common.cout"}}</div>
        <div>{{configLocalize "typesAvantageDefaut" system.type}}</div>
        <div>{{system.cout}}</div>
    </div>
    {{#if system.description}}
        <div class="carte-desc">{{editor system.description target="system.description" owner=true}}</div>
    {{/if}}
    <div class="bold">En terme de jeu</div>
    <div>{{system.descMalus}}</div>
</div>