<div class="carte art-improvise" data-owner-id="{{owner}}">
    <div class="titre">
        <!-- <img src="{{img}}" title="{{name}}" height="32" width="32"/> -->
        <div class="titre-nom">{{localize "agone.actors.artImprovise"}}</div>
    </div>
    <!-- <div class="grid-2-chk">
        <label>{{ localize "agone.chat.utiliseHeroisme"}}</label>
        <input class="util-hero" type="checkbox" name="utiliseHeroisme"/>
    </div> -->
    <div>{{ localize "agone.chat.artImproviseMsg" }}</div>
     <div class="boutons-carte">
        <div class="ligne-btn-2">
            {{#each arts as | art id | }}
                {{#if (gt art.rang 0)}}<button class="jet-art-improvise" data-art-id="{{id}}"><i class="{{configSymbole id}}"></i> {{art.label}}</button>{{/if}}
            {{/each}}
        </div>
    </div>
</div>