<!-- Bloc d'entête avec image à gauche et champs d'informations en ligne -->
<img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="150"/>
<div class="actor-infos">
    <div class="actor-name-line">
        <div class="nom-perso"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'agone.common.name'}}"/></div>
        <div class="padlock">
            <a class="sheet-change-lock" title="{{localize 'agone.tooltip.verrou'}}">
                <i class="fa-solid fa-unlock"></i>
            </a>
        </div>
    </div>
    <div class="actor-infos-line-1">
        <label>{{localize "agone.actors.occupation"}}</label>
        <div class="auto-size"><input name="system.occupation" type="text" value="{{data.system.occupation}}" placeholder="{{localize 'agone.actors.occupation'}}"/></div>
        <label>{{localize "agone.actors.origine"}}</label>
        <div class="auto-size"><input name="system.origine" type="text" value="{{data.system.origine}}" placeholder="{{localize 'agone.actors.origine'}}"/></div>
    </div>
    <div class="actor-infos-line-2">
        <label>{{localize "agone.actors.sexe"}}</label>
        <div class="small-size"><input name="system.sexe" type="text" value="{{data.system.sexe}}" placeholder="{{localize 'agone.actors.sexe'}}"/></div>
        <label>{{localize "agone.actors.peuple"}}</label>
        <div class="peuple">
            <select class="auto-size edit-peuple" name="system.peuple" {{#if figerPeuple}}disabled{{/if}}>
            {{#select data.system.peuple}}
            {{#each config.peuple as |peuple keyPeuple|}}
                <option value="{{keyPeuple}}">{{localize peuple.label}}</option>
            {{/each}}
            {{/select}}
        </select>
        {{#if figerPeuple}}<i class="fa-solid fa-ban" title="{{localize 'agone.notifications.verrouPeuple'}}"></i>{{/if}}
        </div>
        <label>{{localize "agone.actors.age"}}</label>
        <div class="small-size"><input name="system.age" type="number" value="{{data.system.age}}" placeholder="{{localize 'agone.actors.anneesAbbr'}}"/></div>
    </div>
    <div class="actor-infos-line-3">
        <label>{{localize "agone.actors.jetVieilAbbr"}} : </label>
        <div class="info-val">{{data.system.caracSecondaires.diffJetVieillesse}}</div>
        <label>{{localize "agone.actors.taille"}}</label>
        <div class="small-size"><input name="system.taille" type="number" value="{{data.system.taille}}" placeholder="{{localize 'agone.actors.metreAbbr'}}"/></div>
        <label>{{localize "agone.actors.tai"}} : </label>
        <div class="info-val">{{data.system.caracSecondaires.tai.valeur}}</div>
        <label>{{localize "agone.actors.poids"}}</label>
        <div class="small-size"><input name="system.poids" type="number" value="{{data.system.poids}}" placeholder="{{localize 'agone.actors.kiloAbbr'}}"/></div>
        <label>{{localize "agone.actors.mouvementAbbr"}} : </label>
        <div class="info-val">{{data.system.caracSecondaires.mouvement.valeur}}</div>
    </div>
</div>