<div class="grid-magies">
    <div class="data-magie">
        {{#if (eq tabMagieActif "emprise")}}
            <div class="emprise">
                <div class="grid-emprise">
                    <div class="data-magie-titre lib-all">{{localize "agone.actors.emprise"}}</div>
                    <div class="lib-obd"><label>{{localize "agone.actors.obedience"}}</label></div>
                    {{#if unlocked}}
                        <select class="val-obd" name="system.caracSecondaires.resonance">
                        {{#select data.system.caracSecondaires.resonance}}
                            {{#each config.resonances as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                        {{/select}} 
                        </select>
                    {{else}}
                        <div class="val-obd">{{configLocalize "resonances" data.system.caracSecondaires.resonance}}</div>
                    {{/if}}
                    {{#unless (eq data.system.caracSecondaires.resonance "aucun")}}
                        <label class="lib">{{localize "agone.actors.emprise"}}</label>
                        <div class="val"><label>{{data.system.aspects.esprit.caracteristiques.emprise.valeur}}</label></div>
                        <label class="lib">{{localize "agone.actors.resonance"}}</label>
                        {{#with data.system as | dt | }}
                            {{#each dt.familleCompetences.occulte.competences.resonance.domaines as |reso keyReso|}}
                                {{#if (eq keyReso dt.caracSecondaires.resonance )}}
                                    <div class="val"><label>{{reso.rang}}</label></div>
                                {{/if}}
                            {{/each}}
                        {{/with}}
                        <label class="lib">{{localize "agone.actors.connDanseurs"}}</label>
                        <div class="val"><label>{{data.system.familleCompetences.occulte.competences.connDanseurs.rang}}</label></div>
                    {{/unless}}
                </div>
            </div>
            {{#unless (eq data.system.caracSecondaires.resonance "aucun")}}
                <div class="actions-magie"> 
                    <div class="data-magie-titre">{{localize "agone.actors.actionsEmprise"}}</div>
                    <button class="reconnSort"><i class="fa-duotone fa-solid fa-book-sparkles"></i> {{localize "agone.actors.reconnSort"}}</button>
                    <button class="resistMagie"><i class="fa-sharp-duotone fa-solid fa-person-falling-burst"></i> {{localize "agone.actors.resistMagie"}}</button>
                    <button class="contreMagie"><i class="fa-duotone fa-solid fa-hand-sparkles"></i> {{localize "agone.actors.contreMagie"}}</button>
                    <button class="repos-danseurs"><i class="fa-duotone fa-solid fa-moon-cloud"></i> {{localize "agone.actors.reposDanseurs"}}</button>
                </div>
            {{/unless}}
        {{/if}}
        {{#if (eq tabMagieActif "artsMagiques")}}
            <div class="arts-magiques">
                <div class="grid-arts-magiques">
                    <div class="data-magie-titre lib-all">{{localize "agone.actors.artsMagiques"}}</div>
                    <label class="lib">{{localize "agone.actors.art"}}</label>
                    <div class="val"><label>{{data.system.aspects.ame.caracteristiques.art.valeur}}</label></div>
                    {{#if (gt data.system.familleCompetences.occulte.competences.artsMagiques.domaines.accord.rang 0)}}
                        <label class="lib">{{localize "agone.actors.accord"}}</label>
                        <div class="val"><label>{{data.system.familleCompetences.occulte.competences.artsMagiques.domaines.accord.rang}}</label></div>
                    {{/if}}
                    {{#if (gt data.system.familleCompetences.occulte.competences.artsMagiques.domaines.cyse.rang 0)}}
                        <label class="lib">{{localize "agone.actors.cyse"}}</label>
                        <div class="val"><label>{{data.system.familleCompetences.occulte.competences.artsMagiques.domaines.cyse.rang}}</label></div>
                    {{/if}}
                    {{#if (gt data.system.familleCompetences.occulte.competences.artsMagiques.domaines.decorum.rang 0)}}
                        <label class="lib">{{localize "agone.actors.decorum"}}</label>
                        <div class="val"><label>{{data.system.familleCompetences.occulte.competences.artsMagiques.domaines.decorum.rang}}</label></div>
                    {{/if}}
                    {{#if (gt data.system.familleCompetences.occulte.competences.artsMagiques.domaines.geste.rang 0)}}
                        <label class="lib">{{localize "agone.actors.geste"}}</label>
                        <div class="val"><label>{{data.system.familleCompetences.occulte.competences.artsMagiques.domaines.geste.rang}}</label></div>
                    {{/if}}
                </div>
            </div>
            {{#unless (and (eq data.system.familleCompetences.occulte.competences.artsMagiques.domaines.accord.rang 0)
                    (eq data.system.familleCompetences.occulte.competences.artsMagiques.domaines.cyse.rang 0)
                    (eq data.system.familleCompetences.occulte.competences.artsMagiques.domaines.decorum.rang 0)
                    (eq data.system.familleCompetences.occulte.competences.artsMagiques.domaines.geste.rang 0)) }}
                <div class="actions-magie"> 
                    <div class="data-magie-titre">{{localize "agone.actors.actionsArts"}}</div>
                    <button class="reconnOeuvre"><i class="fa-duotone fa-solid fa-comments-question"></i> {{localize "agone.actors.reconnOeuvre"}}</button>
                    {{#if (gt data.system.familleCompetences.occulte.competences.artsMagiques.domaines.accord.rang 0)}}
                        <button class="desaccord"><i class="fa-duotone fa-solid fa-music-note-slash"></i> {{localize "agone.actors.desaccord"}}</button>
                    {{/if}}
                    <button class="artImprovise">{{localize "agone.actors.artImprovise"}}</button>
                </div>
            {{/unless}}
        {{/if}}
        {{#if (eq tabMagieActif "conjuration")}}
            <div class="conjuration">
                {{#if unlocked}}
                    <div class="grid-conjuration-edit">
                        <div class="data-magie-titre lib-all">{{localize "agone.actors.conjuration"}}</div>
                        <label class="lib">{{localize "agone.actors.tenebre"}}</label>
                        <div class="tenebre-crea minus">
                            <a class="mod-tenebre-crea" title="{{localize 'agone.tooltip.dimTenebre'}}" data-action="minus">
                                <i class="fa-solid fa-circle-minus"></i>
                            </a>
                        </div>
                        <div class="val"><label>{{data.system.caracSecondaires.tenebre.valeur}}</label></div>
                        <div class="tenebre-crea plus">
                            <a class="mod-tenebre-crea" title="{{localize 'agone.tooltip.augTenebre'}}" data-action="plus">
                                <i class="fa-solid fa-circle-plus"></i>
                            </a>
                        </div>
                        <label class="lib">{{localize "agone.actors.noirceur"}}</label>
                        <div class="val"><label>{{data.system.caracSecondaires.noirceur}}</label></div>
                        <label class="lib">{{localize "agone.actors.demonologie"}}</label>
                        <div class="val"><label>{{data.system.familleCompetences.occulte.competences.demonologie.rang}}</label></div>
                    </div>
                {{else}}
                    <div class="grid-conjuration">
                        <div class="data-magie-titre lib-all">{{localize "agone.actors.conjuration"}}</div>
                        <label class="lib">{{localize "agone.actors.tenebre"}}</label>
                        <div class="val"><label>{{data.system.caracSecondaires.tenebre.valeur}}</label></div>
                        <label class="lib">{{localize "agone.actors.noirceur"}}</label>
                        <div class="val"><label>{{data.system.caracSecondaires.noirceur}}</label></div>
                        <label class="lib">{{localize "agone.actors.demonologie"}}</label>
                        <div class="val"><label>{{data.system.familleCompetences.occulte.competences.demonologie.rang}}</label></div>
                    </div>
                {{/if}}
            </div>
            {{#unless (or (eq data.system.familleCompetences.occulte.competences.demonologie.rang 0)
                    (eq data.system.caracSecondaires.noirceur 0)) }}
                    <div class="actions-magie">
                        <div class="data-magie-titre">{{localize "agone.actors.actionsConjuration"}}</div>
                        <button class="conjurer"><i class="fa-duotone fa-solid fa-face-angry-horns icone"></i>{{localize "agone.actors.conjurer"}}</button>
                    </div>
            {{/unless}}
        {{/if}}
    </div>
    <div class="magies">
        <nav class="magie-tabs tabs" data-group="magie">
            <a class="item" data-tab="emprise">{{localize "agone.actors.emprise"}}</a>
            <a class="item" data-tab="artsMagiques">{{localize "agone.actors.artsMagiques"}}</a>
            <a class="item" data-tab="conjuration">{{localize "agone.actors.conjuration"}}</a>
        </nav>
        <div class="tab" data-group="magie" data-tab="emprise">
            {{> "systems/agone/templates/partials/actors/bloc-liste-danseurs-personnage-v2.hbs"}}
            {{> "systems/agone/templates/partials/actors/bloc-liste-sorts-personnage-v2.hbs"}}
        </div>
        <div class="tab" data-group="magie" data-tab="artsMagiques">
            {{> "systems/agone/templates/partials/actors/bloc-liste-oeuvres-personnage-v2.hbs"}}
        </div>
        <div class="tab" data-group="magie" data-tab="conjuration">
            {{> "systems/agone/templates/partials/actors/bloc-liste-connivences-personnage-v2.hbs"}}
        </div>
    </div>
</div>