<div class="grid-magies">
    <div class="data-magie">
        <div class="emprise">
            <div class="grid-emprise">
                <div class="data-magie-titre lib-all">{{localize "agone.actors.emprise"}}</div>
                <div class="lib-obd"><label>{{localize "agone.actors.obedience"}}</label></div>
                {{#if unlocked}}
                    <select class="val-obd" name="system.caracSecondaires.resonance">
                    {{#select data.system.caracSecondaires.resonance}}
                        {{#each config.resonances as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}} 
                    </select>
                {{else}}
                    <div class="val-obd">{{configLocalize "resonances" data.system.caracSecondaires.resonance}}</div>
                {{/if}}
                <label class="lib">{{localize "agone.actors.emprise"}}</label>
                <div class="val"><label>{{data.system.aspects.esprit.caracteristiques.emprise.valeur}}</label></div>
                <label class="lib">{{localize "agone.actors.resonance"}}</label>
                {{#with data.system as | dt | }}
                    {{#each dt.familleCompetences.occulte.competences.resonance.domaines as |reso keyReso|}}
                        {{#if (eq keyReso dt.caracSecondaires.resonance )}}
                            <div class="val"><label>{{reso.rang}}</label></div>
                        {{/if}}
                    {{/each}}
                {{/with}}
                <label class="lib">{{localize "agone.actors.connDanseurs"}}</label>
                <div class="val"><label>{{data.system.familleCompetences.occulte.competences.connDanseurs.rang}}</label></div>
            </div>
        </div>
    </div>
    <div class="magies">
        <nav class="magie-tabs tabs" data-group="magie">
            <a class="item" data-tab="emprise">{{localize "agone.actors.emprise"}}</a>
            <a class="item" data-tab="artsMagiques">{{localize "agone.actors.artsMagiques"}}</a>
            <a class="item" data-tab="conjuration">{{localize "agone.actors.conjuration"}}</a>
        </nav>
        <div class="tab" data-group="magie" data-tab="emprise">
            {{> "systems/agone/templates/partials/actors/bloc-recap-emprise-personnage.hbs"}}
            <h3>{{localize "agone.actors.danseurs"}}</h3>
            <div class="liste-danseurs">
                {{> "systems/agone/templates/partials/actors/bloc-liste-danseurs-personnage.hbs"}}
            </div>
            <h3>{{localize "agone.actors.sorts"}}</h3>
            <div class="liste-sorts">
                {{> "systems/agone/templates/partials/actors/bloc-liste-sorts-personnage.hbs"}}
            </div>
        </div>
        <div class="tab" data-group="magie" data-tab="artsMagiques">
            {{> "systems/agone/templates/partials/actors/bloc-recap-artsmagiques-personnage.hbs"}}
            <h3>{{localize "agone.actors.oeuvres"}}</h3>
            <div class="liste-oeuvres">
                {{> "systems/agone/templates/partials/actors/bloc-liste-oeuvres-personnage.hbs"}}
            </div>
        </div>
        <div class="tab" data-group="magie" data-tab="conjuration">
            {{> "systems/agone/templates/partials/actors/bloc-recap-conjuration-personnage.hbs"}}
            <h3>{{localize "agone.actors.connivences"}}</h3>
            <div class="liste-connivences">
                {{> "systems/agone/templates/partials/actors/bloc-liste-connivences-personnage.hbs"}}
            </div>
        </div>
    </div>
</div>