<!-- Blocs d'aspects (corps, esprit ame) avec caractéristiques primaires associées à chaque aspect -->
{{#each data.system.aspects as |aspect keyAsp|}}
    <div class="aspect">
        <div class="aspect-titre">{{aspect.positif.label}}</div>
        <div class="carac-line {{keyAsp}}">
            {{#each aspect.caracteristiques as |carac keyCarac|}}
                {{#unless carac.secondaire}}
                <label>{{carac.label}}</label>
                <div class="small-size"><input name="system.aspects.{{keyAsp}}.caracteristiques.{{keyCarac}}.valeur" type="number" value="{{carac.valeur}}" placeholder="0" min="0" max="10"/></div>
                <a class="roll-carac" title="{{localize 'agone.actors.jetCarac'}}" data-carac="{{keyCarac}}"><i class="fas fa-dice"></i></a>
                {{/unless}}
            {{/each}}
        </div>
    </div>
{{/each}}