<div class="grid-caracSec-comp">
    <div class="caracSec">
        <div class="caracSec-titre">Caractéristiques Secondaires</div>
        <div class="grid-caracSec">
            <div>{{localize "agone.actors.melee"}}</div>
            <div class="val-caracSec">
                <label>{{data.system.aspects.corps.caracteristiques.melee.valeur}}</label>
            </div>
            <div>{{localize "agone.actors.tir"}}</div>
            <div class="val-caracSec">
                <label>{{data.system.aspects.corps.caracteristiques.tir.valeur}}</label>
            </div>
            <div>{{localize "agone.actors.bonusDommages"}}</div>
            <div class="val-caracSec">
                <label>{{data.system.caracSecondaires.bonusDommages}}</label>
            </div>
            {{#if afficherHeroisme}}
                <label>{{localize "agone.actors.heroisme"}}</label>
                <div class="val-caracSec">
                    <label>{{data.system.caracSecondaires.heroisme.max}}</label>
                </div>
            {{/if}}
            <div>
                {{localize "agone.actors.pdv"}}
                {{#if unlocked}}
                    {{#if (lt data.system.caracSecondaires.pdv.d10 1)}}
                        <a class="roll-pdv" title="{{localize 'agone.actors.jetPdv'}}"><i class="fa-duotone fa-solid fa-dice-d10"></i></a>
                    {{/if}}
                {{/if}}
            </div>
            <div class="val-caracSec">
                <label>{{data.system.caracSecondaires.pdv.max}}</label>
            </div>
            <div>{{localize "agone.actors.seuilBlessureGrave"}}</div>
            <div class="val-caracSec">
                <label>{{data.system.caracSecondaires.seuilBlessureGrave}}</label>
            </div>
            <div>{{localize "agone.actors.seuilBlessureCritique"}}</div>
            <div class="val-caracSec">
                <label>{{data.system.caracSecondaires.seuilBlessureCritique}}</label>
            </div>
            <div>{{localize "agone.actors.chargeMax"}}</div>
            <div class="val-caracSec">
                <label>{{data.system.caracSecondaires.chargeMax}}</label>
            </div>
            <div>{{localize "agone.actors.demiCharge"}}</div>
            <div class="val-caracSec">
                <label>{{data.system.caracSecondaires.demiCharge}}</label>
            </div>
            <div>{{localize "agone.actors.chargeQuotidienne"}}</div>
            <div class="val-caracSec">
                <label>{{data.system.caracSecondaires.chargeQuotidienne}}</label>
            </div>
            <div>{{localize "agone.actors.art"}}</div>
            <div class="val-caracSec">
                <label>{{data.system.aspects.ame.caracteristiques.art.valeur}}</label>
            </div>
            <div>{{localize "agone.actors.emprise"}}</div>
            <div class="val-caracSec">
                <label>{{data.system.aspects.esprit.caracteristiques.emprise.valeur}}</label>
            </div>
        </div>
    </div>
    <div class="competences">
        {{#if unlocked}}
            {{> "systems/agone/templates/partials/actors/bloc-liste-competences-personnage-unlocked.hbs"}}
        {{else}}
            {{> "systems/agone/templates/partials/actors/bloc-liste-competences-personnage.hbs"}}
        {{/if}}
    </div>
</div>