<div class="ligne-defaut titre">
    <label></label>
    <label>{{localize "agone.common.name"}}</label>
    <label>{{localize "agone.common.type"}}</label>
    <label>{{localize "agone.common.cout"}}</label>
    <label>{{localize "agone.items.descMalus"}}</label>
    <label></label>
    <a class="creer-item" data-type="Defaut" title="{{localize 'agone.common.ajouter'}}"><i class="fas fa-plus"></i></a>
</div>
{{#each defauts as |defaut id|}}
<div class="ligne-defaut item" data-item-id="{{defaut._id}}">
    <a class="editer-item"><img src="{{img}}" title="{{localize 'agone.common.editer'}}" height="32" width="32"/></a>
    <div>{{name}}</div>
    <div>{{configLocalize "typesAvantageDefaut" data.type}}</div>
    <div>{{data.cout}}</div>
    <div>{{data.descMalus}}</div>
    <a class="editer-item" title="{{localize 'agone.common.editer'}}"><i class="fas fa-edit"></i></a>
    <a class="supprimer-item" title="{{localize 'agone.common.supprimer'}}"><i class="fas fa-trash"></i></a>
</div>            
{{/each}}