<div class="titre-rub">{{localize "agone.actors.saisonnin"}}</div>
<div class="grid-pouvoirsSaison">
    {{#each pouvoirsSaison as |pouvoir id|}}
        <div class="bloc-pouvoirSaison item" data-item-id="{{pouvoir._id}}">
            <div class="ligne-titre">
                <a class="item-roll"><img src="{{img}}" title="{{localize 'agone.actors.voirPouvoir'}}"/></a>
                <div class="titre">{{name}}</div>
                {{#if ../unlocked}}
                    <div class="icone"><a class="editer-item" title="{{localize 'agone.common.editer'}}"><i class="fa-duotone fa-solid fa-pen-to-square"></i></a></div>
                    <div class="icone"><a class="supprimer-item" title="{{localize 'agone.common.supprimer'}}"><i class="fa-duotone fa-solid fa-x"></i></a></div>
                {{else}}
                {{/if}}
            </div>
            <div class="ligne-stats-pouvoirSaison">
                <div>
                    {{localize "agone.actors.saisonnin"}} : {{configLocalize "saisonnins" system.saisonnin}}
                </div>
            </div>
            <div class="ligne-stats-pouvoirSaison ">
                <div class="desc-col">{{editor system.descEffet target="system.descEffet" owner=true editable=false}}</div>
            </div>
        </div>
    {{/each}}
</div>