<div class="caracSec-titre">Caractéristiques Secondaires</div>
<div class="grid-caracSec">
    <div>{{localize "agone.actors.melee"}}</div>
    <div class="val-caracSec">
        <label>{{data.system.aspects.corps.caracteristiques.melee.valeur}}</label>
    </div>
    <div>{{localize "agone.actors.tir"}}</div>
    <div class="val-caracSec">
        <label>{{data.system.aspects.corps.caracteristiques.tir.valeur}}</label>
    </div>
    <div>{{localize "agone.actors.bonusDommages"}}</div>
    <div class="val-caracSec">
        <label>{{data.system.caracSecondaires.bonusDommages}}</label>
    </div>
    <div>{{localize "agone.actors.pdv"}}</div>
    <div class="val-caracSec">
        <label>{{data.system.caracSecondaires.pdv.max}}</label>
    </div>
    <div>{{localize "agone.actors.seuilBlessureGrave"}}</div>
    <div class="val-caracSec">
        <label>{{data.system.caracSecondaires.seuilBlessureGrave}}</label>
    </div>
    <div>{{localize "agone.actors.seuilBlessureCritique"}}</div>
    <div class="val-caracSec">
        <label>{{data.system.caracSecondaires.seuilBlessureCritique}}</label>
    </div>
    <div>{{localize "agone.actors.chargeMax"}}</div>
    <div class="val-caracSec">
        <label>{{data.system.caracSecondaires.chargeMax}}</label>
    </div>
    <div>{{localize "agone.actors.demiCharge"}}</div>
    <div class="val-caracSec">
        <label>{{data.system.caracSecondaires.demiCharge}}</label>
    </div>
    <div>{{localize "agone.actors.chargeQuotidienne"}}</div>
    <div class="val-caracSec">
        <label>{{data.system.caracSecondaires.chargeQuotidienne}}</label>
    </div>
    <div>{{localize "agone.actors.art"}}</div>
    <div class="val-caracSec">
        <label>{{data.system.aspects.ame.caracteristiques.art.valeur}}</label>
    </div>
    <div>{{localize "agone.actors.emprise"}}</div>
    <div class="val-caracSec">
        <label>{{data.system.aspects.esprit.caracteristiques.emprise.valeur}}</label>
    </div>
</div>