<div class="recap">
    <div>
        <label>{{localize "agone.actors.chargeMax"}}</label>
        <div class="fixed-val">{{data.system.caracSecondaires.chargeMax}}</div>
    </div>
    <div>
        <label>{{localize "agone.actors.demiCharge"}}</label>
        <div class="fixed-val">{{data.system.caracSecondaires.demiCharge}}</div>
    </div>
    <div>
        <label>{{localize "agone.actors.chargeQuotidienne"}}</label>
        <div class="fixed-val">{{data.system.caracSecondaires.chargeQuotidienne}}</div>
    </div>
</div>