<div class="comp-titre">Compétences</div>
<nav class="competences-tabs tabs" data-group="competences">
    <a class="item" data-tab="epreuves">{{localize "agone.actors.epreuves"}}</a>
    <a class="item" data-tab="maraude">{{localize "agone.actors.maraude"}}</a>
    <a class="item" data-tab="societe">{{localize "agone.actors.societe"}}</a>
    <a class="item" data-tab="savoir">{{localize "agone.actors.savoir"}}</a>
    <a class="item" data-tab="occulte">{{localize "agone.actors.occulte"}}</a>
</nav>
{{#each data.system.familleCompetences as |famille keyFam|}}
    <div class="tab" data-group="competences" data-tab="{{keyFam}}">
        <div class="actor-fam-comp">
            <div class="col-max">
                <label class="titre-fam">{{famille.label}}</label>
                <a class="edit-comp" title="{{localize 'agone.actors.editComp'}}" data-famille="{{keyFam}}"><i class="fas fa-edit" ></i></a>
            </div>
            {{#each ../data.system.colFams as |col|}}
                <div class="actor-comp-grid col-{{col}}">
                    {{#each famille.competences as |competence keyComp|}}
                        {{#if domaine}}
                            {{#if (eq competence.numcolFamille col)}}
                                <label class="titre-comp">{{competence.label}}</label>
                            {{/if}}
                            {{#each domaines as |domaine keyDom|}}
                                {{#if (eq domaine.numcolFamille col)}}                                
                                    <a class="roll-comp" title="{{localize 'agone.actors.jetComp'}}" data-famille="{{keyFam}}" data-competence="{{keyComp}}" data-domaine="{{keyDom}}" data-carac="{{domaine.caracteristique}}"><i class="fa-solid fa-dice-d10"></i></a> 
                                    {{#if domPerso}}
                                        {{#if (eq keyComp "musique")}}
                                            <div class="dom-perso"><label>{{configLocalize "instruments" domaine.label}}</label></div>
                                        {{else}}
                                            <div class="dom-perso"><label>{{domaine.label}}</label></div>
                                        {{/if}}
                                    {{else}}
                                        <label class="dom-fixe">{{domaine.label}}</label>
                                    {{/if}}
                                    <div class="val-comp"><label>{{domaine.rang}}</label></div>
                                    {{#if domaine.specialisation }}
                                        <a class="nohlight spec" title="{{domaine.labelSpecialisation}}"><i class="fas fa-award"></i></a>
                                    {{else}}
                                        <div></div>
                                    {{/if}} 
                                {{/if}}
                            {{/each}}
                        {{else}}
                            {{#if (eq competence.numcolFamille col)}}
                                <a class="roll-comp" title="{{localize 'agone.actors.jetComp'}}" data-famille="{{keyFam}}" data-competence="{{keyComp}}" data-carac="{{competence.caracteristique}}"><i class="fa-solid fa-dice-d10"></i></a> 
                                <label class="lbl-comp">{{competence.label}}</label>     
                                <div class="val-comp"><label>{{competence.rang}}</label></div>
                                {{#if competence.specialisation }}
                                    <a class="nohlight spec" title="{{competence.labelSpecialisation}}"><i class="fas fa-award"></i></a>
                                {{else}}
                                 <div></div>
                                {{/if}}
                            {{/if}}                             
                        {{/if}}
                    {{/each}}
                </div>
            {{/each}}
        </div>
    </div>
{{/each}}
