<div class="ligne-pouvoir-flamme titre">
    <label></label>
    <label>{{localize "agone.common.name"}}</label>
    <label>{{localize "agone.common.cout"}}</label>
    <label>{{localize "agone.items.descEffet"}}</label>
    <label></label>
    <a class="creer-item" data-type="PouvoirFlamme" title="{{localize 'agone.common.ajouter'}}"><i class="fas fa-plus"></i></a>
</div>
{{#each pouvoirsFlamme as |pouvoir id|}}
<div class="ligne-pouvoir-flamme item" data-item-id="{{pouvoir._id}}">
    <a class="item-roll"><img src="{{img}}" title="{{localize 'agone.actors.voirPouvoir'}}" height="32" width="32"/></a>
    <div>{{name}}</div>
    <div>{{data.coutHeroisme}}</div>
    <div>{{data.descEffet}}</div>
    <a class="editer-item" title="{{localize 'agone.common.editer'}}"><i class="fas fa-edit"></i></a>
    <a class="supprimer-item" title="{{localize 'agone.common.supprimer'}}"><i class="fas fa-trash"></i></a>
</div>            
{{/each}}