<div class="titre-rub">{{localize "agone.actors.pouvDemon"}}</div>
<div class="grid-pouvoirsDemon">
    {{#each pouvoirsFlamme as |pouvoir id|}}
        <div class="bloc-pouvoirDemon item" data-item-id="{{pouvoir._id}}">
            <div class="ligne-titre">
                <a class="item-roll"><img src="{{img}}" title="{{localize 'agone.actors.voirPouvoir'}}"/></a>
                <div class="titre">{{name}}</div>
                {{#if (gt system.coutHeroisme 0)}}
                    <div class="icone mr"><i class="fa-duotone fa-solid fa-fire-flame-curved" title="{{localize 'agone.tooltip.coutHeroisme'}}"></i> {{system.coutHeroisme}}</div>
                {{/if}}
                {{#if ../unlocked}}
                    <div class="icone"><a class="editer-item" title="{{localize 'agone.common.editer'}}"><i class="fa-duotone fa-solid fa-pen-to-square"></i></a></div>
                    <div class="icone"><a class="supprimer-item" title="{{localize 'agone.common.supprimer'}}"><i class="fa-duotone fa-solid fa-x"></i></a></div>
                {{/if}}
            </div>
            <div class="ligne-stats-pouvoirFlamme">
                <div class="desc-col no-bg">{{editor system.descEffet target="system.descEffet" owner=true editable=false}}</div>
            </div>
        </div>
    {{/each}}
</div>