<div class="ligne-arme titre">
    <label></label>
    <label>{{localize "agone.common.name"}}</label>
    <label>{{localize "agone.items.style"}}</label>
    <label>{{localize "agone.items.modifInit"}}</label>
    <label>{{localize "agone.items.modifAttaque"}}</label>
    <label>{{localize "agone.items.modifParade"}}</label>
    <label>{{localize "agone.items.modifDommages"}}</label>
    <label>{{localize "agone.items.portee"}}</label>
    <label>{{localize "agone.actors.competence"}}</label>
    <label>{{localize "agone.common.type"}}</label>
    <label>{{localize "agone.items.minForce"}}</label>
    <label>{{localize "agone.items.minAgilite"}}</label>
    <label>{{localize "agone.items.tai"}}</label>
    <label></label>
    <a class="creer-item" data-type="Arme" title="{{localize 'agone.common.ajouter'}}"><i class="fas fa-plus"></i></a>
</div>
{{#each armes as |arme id|}}
<div class="ligne-arme item" data-item-id="{{arme._id}}">
    <a class="item-roll"><img src="{{img}}" title="Jet de dés" height="32" width="32"/></a>
    <div>{{name}}</div>
    <div>{{configLocalize "stylesArme" data.style}}</div>
    <div>{{data.modifInit}}</div>
    <div>{{data.modifAttaque}}</div>
    <div>{{data.modifParade}}</div>
    <div>{{data.modifDommages}}</div>
    <div>{{data.portee}}</div>
    <div>
        <select class="inline-edit" data-field="data.competence">
            {{#select data.competence}}
                <option value="aucun"></option>
                {{#each ../actor.data.data.familleCompetences.epreuves.competences.armes.domaines as |domaine keyDom|}}
                    {{#if domaine.label}}
                        <option value="{{keyDom}}">{{localize domaine.label}}</option>
                    {{/if}}
                {{/each}}
            {{/select}}
        </select>
    </div>
    <div>{{configLocalize "typesArme" data.type}}</div>
    <div>{{#if (gt data.minForce ../actor.data.data.aspects.corps.caracteristiques.force.valeur )}}<span class="warn">{{data.minForce}}</span>{{else}}<span>{{data.minForce}}</span>{{/if}}</div>
    <div>{{#if (gt data.minAgilite ../actor.data.data.aspects.corps.caracteristiques.agilite.valeur )}}<span class="warn">{{data.minAgilite}}</span>{{else}}<span>{{data.minAgilite}}</span>{{/if}}</div>
    <div>{{#WarnTaiArme data.tai ../actor.data.data.caracSecondaires.tai }}<span class="warn">{{data.tai}}</span>{{else}}<span>{{data.tai}}</span>{{/WarnTaiArme}}</div>
    <a class="editer-item" title="{{localize 'agone.common.editer'}}"><i class="fas fa-edit"></i></a>
    <a class="supprimer-item" title="{{localize 'agone.common.supprimer'}}"><i class="fas fa-trash"></i></a>
</div>            
{{/each}}
<!-- TODO : Ajouter une couleur rouge aux valeurs FOR min, AGI min et TAI si le peros ne respecte pas les prérequis) 
 -->