<div class="actor-flamme{{#if (and unlocked typePersonnage)}} pc{{/if}}">
    <div class="box-flamme">
        <label>{{localize "agone.actors.caracteristiques"}}</label>
        {{#if (and unlocked typePersonnage)}}
            <div class="pc-box">
                <div>{{localize "agone.actors.pcCaracUtilises"}}</div>
                <div>{{data.system.pcCaracs.depense}} / {{data.system.pcCaracs.base}}</div>
            </div>    
        {{/if}}
    </div>
    <div class="box-flamme">
        <label>{{localize "agone.actors.flamme"}}</label>
        <div class="info-val">{{data.system.caracSecondaires.flamme}}</div>
    </div>
    <div class="box-flamme">
        <label>{{localize "agone.actors.flammeNoire"}}</label>
        <div class="info-val">{{data.system.caracSecondaires.flammeNoire}}</div>
    </div>
</div>