<div class="comp-titre">Compétences</div>
<nav class="competences-tabs tabs" data-group="competences">
    <a class="item" data-tab="epreuves">{{localize "agone.actors.epreuves"}}</a>
    <a class="item" data-tab="maraude">{{localize "agone.actors.maraude"}}</a>
    <a class="item" data-tab="societe">{{localize "agone.actors.societe"}}</a>
    <a class="item" data-tab="savoir">{{localize "agone.actors.savoir"}}</a>
    <a class="item" data-tab="occulte">{{localize "agone.actors.occulte"}}</a>
</nav>
{{#each data.system.familleCompetences as |famille keyFam|}}
    <div class="tab" data-group="competences" data-tab="{{keyFam}}">
        <div class="actor-fam-comp">
            <div class="actor-comp-grid-unlocked col-max">
                {{#each famille.competences as |competence keyComp|}}
                    {{#if domaine}}
                        <label class="titre-comp">{{competence.label}}</label>
                        {{#each domaines as |domaine keyDom|}}
                            {{#if domPerso}}
                                {{#if (eq keyComp "musique")}}
                                    <select name="{{keyComp}}.domaines.{{keyDom}}.label">
                                        {{#select domaine.label}}
                                            {{#each ../../../config.instruments as |name type|}}
                                                <option value="{{type}}">{{localize name}}</option>
                                            {{/each}}
                                    {{/select}}
                                    </select>
                                {{else}}
                                    <div class="dom-perso"><input name="system.familleCompetences.{{keyFam}}.competences.{{keyComp}}.domaines.{{keyDom}}.label" type="text" value="{{domaine.label}}" placeholder="{{localize 'agone.actors.domaine'}}"/></div>
                                {{/if}}
                            {{else}}
                                <label class="dom-fixe">{{domaine.label}}</label>
                            {{/if}}
                            <div class="comp-crea minus">
                                <a class="mod-comp-crea" title="{{localize 'agone.tooltip.dimComp'}}" data-famille="{{keyFam}}" data-competence="{{keyComp}}" data-domaine="{{keyDom}}" data-action="minus">
                                    <i class="fa-solid fa-circle-minus"></i>
                                </a>
                            </div>
                            <div class="val-comp"><label>{{domaine.rang}}</label></div>
                            <div class="comp-crea plus">
                                <a class="mod-comp-crea" title="{{localize 'agone.tooltip.augComp'}}" data-famille="{{keyFam}}" data-competence="{{keyComp}}" data-domaine="{{keyDom}}" data-action="plus">
                                    <i class="fa-solid fa-circle-plus"></i>
                                </a>
                            </div>
                            <div class="chk-spe"><input name="system.familleCompetences.{{keyFam}}.competences.{{keyComp}}.domaines.{{keyDom}}.specialisation" type="checkbox" data-dtype="Boolean" {{checked domaine.specialisation}}/></div>
                            <div class="val-spe"><input name="system.familleCompetences.{{keyFam}}.competences.{{keyComp}}.domaines.{{keyDom}}.labelSpecialisation" type="text" value="{{domaine.labelSpecialisation}}" placeholder="{{localize 'agone.actors.specialisation'}}"/></div>
                            <select name="system.familleCompetences.{{keyFam}}.competences.{{keyComp}}.domaines.{{keyDom}}.caracteristique">
                                {{#select caracteristique}}
                                {{#each ../../../config.caracteristiques as |name key|}}
                                    {{#if (eq key caracteristique)}}
                                        <option value="{{key}}" selected>{{localize name}}</option>
                                    {{else}}
                                        <option value="{{key}}">{{localize name}}</option>
                                    {{/if}}
                                {{/each}}
                                {{/select}}
                            </select> 
                        {{/each}}
                    {{else}}
                        <label class="lbl-comp">{{competence.label}}</label>
                        <div class="comp-crea minus">
                            <a class="mod-comp-crea" title="{{localize 'agone.tooltip.dimComp'}}" data-famille="{{keyFam}}" data-competence="{{keyComp}}" data-action="minus">
                                <i class="fa-solid fa-circle-minus"></i>
                            </a>
                        </div>  
                        <div class="val-comp"><label>{{competence.rang}}</label></div>
                        <div class="comp-crea plus">
                            <a class="mod-comp-crea" title="{{localize 'agone.tooltip.augComp'}}" data-famille="{{keyFam}}" data-competence="{{keyComp}}" data-action="plus">
                                <i class="fa-solid fa-circle-plus"></i>
                            </a>
                        </div>
                        <div class="chk-spe"><input name="{{keyComp}}.specialisation" type="checkbox" data-dtype="Boolean" {{checked competence.specialisation}}/></div>
                        <div class="val-spe"><input name="{{keyComp}}.labelSpecialisation" type="text" value="{{competence.labelSpecialisation}}" placeholder="{{localize 'agone.actors.specialisation'}}"/></div>
                        <select name="{{keyComp}}.caracteristique">
                            {{#select caracteristique}}
                                {{#each ../../config.caracteristiques as |name key|}}
                                    {{#if (eq key caracteristique)}}
                                        <option value="{{key}}" selected>{{localize name}}</option>
                                    {{else}}
                                        <option value="{{key}}">{{localize name}}</option>
                                    {{/if}}
                                {{/each}}
                            {{/select}}
                        </select>                           
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
{{/each}}
