<div class="recap">
    <div class="recap-item">
        <label>{{localize "agone.actors.emprise"}}</label>
        <div class="fixed-val">{{data.system.aspects.esprit.caracteristiques.emprise.valeur}}</div>
    </div>
    <div class="recap-item">
        <label>{{localize "agone.actors.resonance"}}</label>
         <select name="system.caracSecondaires.resonance">
            {{#select data.system.caracSecondaires.resonance}}
                {{#each config.resonances as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                {{/each}}
            {{/select}} 
        </select>
    </div>
    <div class="recap-item"> 
        {{#with data.system as | dt | }}
            {{#each dt.familleCompetences.occulte.competences.resonance.domaines as |reso keyReso|}}
                {{#if (eq keyReso dt.caracSecondaires.resonance )}}
                    <label>{{localize "agone.actors.rang"}}</label>
                    <div class="fixed-val">{{reso.rang}}</div>
                {{/if}}
            {{/each}}
        {{/with}}
    </div>
    <div class="recap-item">
        <label>{{localize "agone.actors.connDanseurs"}}</label>
        <div class="fixed-val">{{data.system.familleCompetences.occulte.competences.connDanseurs.rang}}</div>
    </div>
</div>
<div class="recap">
    <button class="reconnSort txt-small">{{localize "agone.actors.reconnSort"}}</button>
    <button class="resistMagie txt-small">{{localize "agone.actors.resistMagie"}}</button>
    <button class="contreMagie txt-small">{{localize "agone.actors.contreMagie"}}</button>
</div>