<div class="recap">
    <div>
        <label>{{localize "agone.actors.melee"}}</label>
        <div class="fixed-val">{{data.data.aspects.corps.caracteristiques.melee.valeur}}</div>
    </div>
    <div>
        <label>{{localize "agone.actors.tir"}}</label>
        <div class="fixed-val">{{data.data.aspects.corps.caracteristiques.tir.valeur}}</div>
    </div>
    <div>
        <label title="{{localize "agone.actors.bonusDommages"}}">{{localize "agone.actors.bdom"}}</label>
        <div class="fixed-val">{{data.data.caracSecondaires.bonusDommages}}</div>
    </div>
    <div>
        <label title="{{localize "agone.actors.seuilBlessureGrave"}}">{{localize "agone.actors.sbg"}}</label>
        <div class="fixed-val">{{data.data.caracSecondaires.seuilBlessureGrave}}</div>
    </div>
    <div>
        <label title="{{localize "agone.actors.seuilBlessureCritique"}}">{{localize "agone.actors.sbc"}}</label>
        <div class="fixed-val">{{data.data.caracSecondaires.seuilBlessureCritique}}</div>
    </div>
</div>
<div class="recap">
    <button class="initiative txt-small">{{localize "agone.actors.initiative"}}</button>
    <button class="esquive txt-small">{{localize "agone.actors.esquive"}}</button>
    <button class="defenseNat txt-small">{{localize "agone.actors.defenseNat"}}</button>
    <button class="resistMagieNat txt-small">{{localize "agone.actors.resistMagie"}}</button>
</div>