<div class="recap">
    <div>
        <label>{{localize "agone.actors.art"}}</label>
        <div class="fixed-val">{{data.data.aspects.ame.caracteristiques.art.valeur}}</div>
    </div>
    <div>
        <label>{{localize "agone.actors.accord"}}</label>
        <div class="fixed-val">{{data.data.familleCompetences.occulte.competences.artsMagiques.domaines.accord.rang}}</div>
    </div>
    <div>
        <label>{{localize "agone.actors.cyse"}}</label>
        <div class="fixed-val">{{data.data.familleCompetences.occulte.competences.artsMagiques.domaines.cyse.rang}}</div>
    </div>
    <div>
        <label>{{localize "agone.actors.decorum"}}</label>
        <div class="fixed-val">{{data.data.familleCompetences.occulte.competences.artsMagiques.domaines.decorum.rang}}</div>
    </div>
    <div>
        <label>{{localize "agone.actors.geste"}}</label>
        <div class="fixed-val">{{data.data.familleCompetences.occulte.competences.artsMagiques.domaines.geste.rang}}</div>
    </div>
</div>