<!-- Bloc d'entête avec image à gauche et champs d'informations en ligne -->
<img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="150"/>
<div class="actor-infos">
    <h2><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'agone.common.name'}}"/></h2>
    <div class="actor-infos-line">
        <label>{{localize "agone.actors.occupation"}}</label>
        <div class="auto-size"><input name="system.occupation" type="text" value="{{data.system.occupation}}" placeholder="{{localize 'agone.actors.occupation'}}"/></div>
        <label>{{localize "agone.actors.origine"}}</label>
        <div class="auto-size"><input name="system.origine" type="text" value="{{data.system.origine}}" placeholder="{{localize 'agone.actors.origine'}}"/></div>
    </div>
    <div class="actor-infos-line">
        <label>{{localize "agone.actors.sexe"}}</label>
        <div class="small-size"><input name="system.sexe" type="text" value="{{data.system.sexe}}" placeholder="{{localize 'agone.actors.sexe'}}"/></div>
        <label>{{localize "agone.actors.peuple"}}</label>
        <select class="auto-size edit-peuple" name="system.peuple">
            {{#select data.system.peuple}}
            {{#each config.peuple as |peuple keyPeuple|}}
                <option value="{{keyPeuple}}">{{localize peuple.label}}</option>
            {{/each}}
            {{/select}} 
        </select>
        <label>{{localize "agone.actors.JetVieilAbbr"}}</label>
        <div class="small-size"><input name="system.caracSecondaires.diffJetVieillesse" type="number" value="{{data.system.caracSecondaires.diffJetVieillesse}}" placeholder="{{localize 'agone.actors.JetVieilAbbr'}}"/></div>
        <label>{{localize "agone.actors.age"}}</label>
        <div class="small-size"><input name="system.age" type="number" value="{{data.system.age}}" placeholder="{{localize 'agone.actors.age'}}"/></div>
        <label>{{localize "agone.actors.poids"}}</label>
        <div class="small-size"><input name="system.poids" type="number" value="{{data.system.poids}}" placeholder="{{localize 'agone.actors.poids'}}"/></div>
    </div>
    <div class="actor-infos-line">
        <label>{{localize "agone.actors.taille"}}</label>
        <div class="small-size"><input name="system.taille" type="number" value="{{data.system.taille}}" placeholder="{{localize 'agone.actors.taille'}}"/></div>
        <label >{{localize "agone.actors.tai"}}</label>
        <div class="small-size"><input name="system.caracSecondaires.tai" type="number" value="{{data.system.caracSecondaires.tai}}" placeholder="{{localize 'agone.actors.tai'}}" readonly/></div>
        <label>{{localize "agone.actors.mouvementAbbr"}}</label>
        <div class="small-size"><input name="system.caracSecondaires.mouvement" type="number" value="{{data.system.caracSecondaires.mouvement}}" placeholder="{{localize 'agone.actors.mouvementAbbr'}}"/></div>
        <label>{{localize "agone.actors.pdv"}}</label>
        <div class="small-size"><input name="v.caracSecondaires.pdv.value" type="number" value="{{data.system.caracSecondaires.pdv.value}}" placeholder="0" max="{{data.system.caracSecondaires.pdv.max}}"/></div>
        <label> / </label>
        <div class="small-size"><input name="system.caracSecondaires.pdv.max" type="number" value="{{data.system.caracSecondaires.pdv.max}}" placeholder="0"/></div>
        <label title="{{localize "agone.actors.nbBlessureGrave"}}">{{localize "agone.actors.nbBlessureGrave"}}</label>
        <div class="small-size"><input name="system.caracSecondaires.nbBlessureGrave" type="number" value="{{data.system.caracSecondaires.nbBlessureGrave}}" min="0" max="3">
    </div>
    </div>
</div>