<div class="ligne-oeuvre titre">
    <label></label>
    <label>{{localize "agone.common.name"}}</label>
    <label>{{localize "agone.items.artMagique"}}</label>
    <label>{{localize "agone.actors.saison"}}</label>
    <label>{{localize "agone.items.instrument"}}</label>
    <label>{{localize "agone.items.seuil"}}</label>
    <label>{{localize "agone.items.portee"}}</label>
    <label>{{localize "agone.items.tempsPreparation"}}</label>
    <label>{{localize "agone.items.dureeOeuvre"}}</label>
    <label></label>
    <a class="creer-item" data-type="Oeuvre" title="{{localize 'agone.common.ajouter'}}"><i class="fas fa-plus"></i></a>
</div>
{{#each oeuvres as |oeuvre id|}}
<div class="ligne-oeuvre item" data-item-id="{{oeuvre._id}}">
    <a class="item-roll"><img src="{{img}}" title="{{localize 'agone.common.editer'}}" height="32" width="32"/></a>
    <div>{{name}}</div>
    <div>{{configLocalize "arts" data.artMagique}}</div>
    <div>{{configLocalize "saisons" data.saison}}</div>
    <div>{{configLocalize "instruments" data.instrument}}</div>
    <div>{{data.seuil}}</div>
    <div>{{data.portee}}</div>
    <div>{{data.tempsPreparation}}</div>
    <div>{{data.dureeOeuvre}}</div>
    <a class="editer-item" title="{{localize 'agone.common.editer'}}"><i class="fas fa-edit"></i></a>
    <a class="supprimer-item" title="{{localize 'agone.common.supprimer'}}"><i class="fas fa-trash"></i></a>
</div>            
{{/each}}