<!-- Bloc d'entête avec image à gauche et champs d'informations en ligne -->
<img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="150"/>
<div class="actor-infos">
    <div class="actor-name-line">
        <div class="nom-perso"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'agone.common.name'}}"/></div>
        <div class="padlock">
            <a class="sheet-change-lock" title="{{localize 'agone.tooltip.verrou'}}">
                <i class="fa-solid fa-unlock"></i>
            </a>
        </div>
    </div>
    <div class="actor-infos-line">
        <label>{{localize "agone.actors.occupation"}}</label>
        <div class="auto-size"><input name="system.occupation" type="text" value="{{data.system.occupation}}" placeholder="{{localize 'agone.actors.occupation'}}"/></div>
        <label>{{localize "agone.actors.origine"}}</label>
        <div class="auto-size"><input name="system.origine" type="text" value="{{data.system.origine}}" placeholder="{{localize 'agone.actors.origine'}}"/></div>
    </div>
    <div class="actor-infos-line">
        <label>{{localize "agone.actors.sexe"}}</label>
        <div class="small-size"><input name="system.sexe" type="text" value="{{data.system.sexe}}" placeholder="{{localize 'agone.actors.sexe'}}"/></div>
        <label>{{localize "agone.actors.peuple"}}</label>
        <select class="auto-size edit-peuple" name="system.peuple">
            {{#select data.system.peuple}}
            {{#each config.peuple as |peuple keyPeuple|}}
                <option value="{{keyPeuple}}">{{localize peuple.label}}</option>
            {{/each}}
            {{/select}} 
        </select>
        <label>{{localize "agone.actors.JetVieilAbbr"}}</label>
        <div class="small-size"><input name="system.caracSecondaires.diffJetVieillesse" type="number" value="{{data.system.caracSecondaires.diffJetVieillesse}}" placeholder="{{localize 'agone.actors.JetVieilAbbr'}}"/></div>
        <label>{{localize "agone.actors.age"}}</label>
        <div class="small-size"><input name="system.age" type="number" value="{{data.system.age}}" placeholder="{{localize 'agone.actors.age'}}"/></div>
        <label>{{localize "agone.actors.poids"}}</label>
        <div class="small-size"><input name="system.poids" type="number" value="{{data.system.poids}}" placeholder="{{localize 'agone.actors.poids'}}"/></div>
    </div>
    <div class="actor-infos-line">
        <label>{{localize "agone.actors.taille"}}</label>
        <div class="small-size"><input name="system.taille" type="number" value="{{data.system.taille}}" placeholder="{{localize 'agone.actors.taille'}}"/></div>
        <label>{{localize "agone.actors.tai"}} : </label>
        <div class="info-val">{{data.system.caracSecondaires.tai}}</div>
        <label>{{localize "agone.actors.mouvementAbbr"}} : </label>
        <div class="info-val">{{data.system.caracSecondaires.mouvement}}</div>
        <label>{{localize "agone.actors.pdv"}}</label>
        <div class="small-size"><input name="system.caracSecondaires.pdv.value" type="number" value="{{data.system.caracSecondaires.pdv.value}}" placeholder="0" max="{{data.system.caracSecondaires.pdv.max}}"/></div>
        <div> / </div>
        <div class="info-val">{{data.system.caracSecondaires.pdv.max}}</div>
        {{#if (lt data.system.caracSecondaires.pdv.d10 1)}}
            <a class="roll-pdv" title="{{localize 'agone.actors.jetPdv'}}"><i class="fa-solid fa-dice-d10"></i></a>
        {{/if}}
        <label>{{localize "agone.actors.nbBlessureGrave"}}  : </label>
        <div class="info-val">{{data.system.caracSecondaires.nbBlessureGrave}}</div>
    </div>
    </div>
</div>