<div class="ligne-armure titre">
    <label></label>
    <label>Equipée</label>
    <label>{{localize "agone.common.name"}}</label>
    <label>{{localize "agone.common.type"}}</label>
    <label>{{localize "agone.items.protection"}}</label>
    <label>{{localize "agone.items.malusAgilite"}}</label>
    <label>{{localize "agone.items.malusPerception"}}</label>
    <label></label>
    <a class="creer-item" data-type="Armure" title="{{localize 'agone.common.ajouter'}}"><i class="fas fa-plus"></i></a>
</div>
{{#each armures as |armure id|}}
<div class="ligne-armure item" data-item-id="{{armure._id}}">
    <a class="item-roll"><img src="{{img}}" title="Jet de dés" height="32" width="32"/></a>
    <div><input class="inline-chk" data-field="data.equipee" name="data.equipee" type="checkbox" data-type="Boolean" {{checked data.equipee}}/></div>
    <div>{{name}}</div>
    <div>{{configLocalize "typesArmure" data.type}}</div>
    <div>{{data.protection}}</div>
    <div>{{data.malus}}</div>
    <div>{{data.malusPerception}}</div>
    <a class="editer-item" title="{{localize 'agone.common.editer'}}"><i class="fas fa-edit"></i></a>
    <a class="supprimer-item" title="{{localize 'agone.common.supprimer'}}"><i class="fas fa-trash"></i></a>
</div>            
{{/each}}