{{#if (or estPersonnage (eq tabHistoActif "peinesBienfaits"))}}
<div class="grid-data-histo">
{{else}}
<div class="grid-data-histo-mini">
{{/if}}
    <div class="data-histo">
        {{#if estPersonnage}}
        <div class="heroisme">
            <div class="grid-heroisme">
                <div class="data-heroisme-titre lib-all">{{localize "agone.actors.heroisme"}}</div>
                <label>{{localize "agone.common.reserve"}}</label>
                <label><a class="regen-heroisme" title="{{localize 'agone.tooltip.regainHeroisme'}}"><i class="fa-duotone fa-solid fa-fire-flame-curved"></i></a></label>
                <div class="val"><label>{{data.system.caracSecondaires.heroisme.value}}</label></div>
                <div class="sep"> / </div>
                <div class="val"><label>{{data.system.caracSecondaires.heroisme.max}}</label></div>
            </div>
        </div> 
        <div class="experience">            
            <div class="grid-experience">
                <div class="data-experience-titre lib-all">{{localize "agone.actors.experience"}}</div>
                <label>{{localize "agone.actors.experienceDisponible"}}</label>
                <div class="val"><label>{{data.system.experience.disponible}}</label></div>
                <label>{{localize "agone.actors.experienceTotale"}}</label>
                <div class="val"><label>{{data.system.experience.totale}}</label></div>
                {{#if (and unlocked (eq typeRessEdition "modeExp") (not modeEditionLibre))}}
                    <div class="action-exp"><button class="validerExpe"><i class="fa-duotone fa-solid fa-graduation-cap"></i> {{localize "agone.actors.validerExpe"}}</button></div>
                {{/if}}
            </div>
        </div>
        {{/if}}
        {{#if (eq tabHistoActif "peinesBienfaits")}}
            <div class="peinesBienfaits">
            {{#if unlocked}}
                <div class="grid-peinesBienfaits-edit">
                    <div class="data-peinesBienfaits-titre lib-all">{{localize "agone.actors.corruption"}}</div>
                    <label>{{localize "agone.actors.tenebre"}}</label>
                    {{#if estEG}}
                        <div class="tenebre minus">
                            <a class="mod-tenebre" title="{{localize 'agone.tooltip.dimTenebre'}}" data-action="minus">
                                <i class="fa-solid fa-circle-minus"></i>
                            </a>
                        </div>
                    {{else}}
                        <div></div>
                    {{/if}}
                    <div class="val"><label>{{data.system.caracSecondaires.tenebre.valeur}}</label></div>
                    <div class="tenebre plus">
                        <a class="mod-tenebre" title="{{localize 'agone.tooltip.augTenebre'}}" data-action="plus">
                            <i class="fa-solid fa-circle-plus"></i>
                        </a>
                    </div>
                    <label>{{localize "agone.actors.perfidie"}}</label>
                    {{#if estEG}}
                        <div class="perfidie minus">
                            <a class="mod-perfidie" title="{{localize 'agone.tooltip.dimPerfidie'}}" data-action="minus">
                                <i class="fa-solid fa-circle-minus"></i>
                            </a>
                        </div>
                    {{else}}
                        <div></div>
                    {{/if}}    
                    <div class="val"><label>{{data.system.caracSecondaires.perfidie.valeur}}</label></div>
                    <div class="perfidie plus">
                        <a class="mod-perfidie" title="{{localize 'agone.tooltip.augPerfidie'}}" data-action="plus">
                            <i class="fa-solid fa-circle-plus"></i>
                        </a>
                    </div>
                </div>
            {{else}}
                <div class="grid-peinesBienfaits">
                    <div class="data-peinesBienfaits-titre lib-all">{{localize "agone.actors.corruption"}}</div>
                    <label>{{localize "agone.actors.tenebre"}}</label>
                    <div class="val"><label>{{data.system.caracSecondaires.tenebre.valeur}}</label></div>
                    <label>{{localize "agone.actors.perfidie"}}</label>
                    <div class="val"><label>{{data.system.caracSecondaires.perfidie.valeur}}</label></div>
                </div>
            {{/if}}
            </div>
        {{/if}}
    </div>
    <div class="historique">
        <nav class="historique-tabs tabs" data-group="historique">
            <a class="item" data-tab="avantagesDefauts">{{localize "agone.actors.avantages"}} / {{localize "agone.actors.defauts"}}</a>
            <a class="item" data-tab="pouvoirs">{{localize "agone.actors.pouvoirs"}}</a>
            <a class="item" data-tab="peinesBienfaits">{{localize "agone.actors.peinesBienfaits"}}</a>
            <a class="item" data-tab="histoire">{{localize "agone.actors.histoire"}}</a>
        </nav>
        <div class="tab" data-group="historique" data-tab="avantagesDefauts">
            {{> "systems/agone/templates/partials/actors/bloc-liste-avantages-personnage-v2.hbs"}}
            {{> "systems/agone/templates/partials/actors/bloc-liste-defauts-personnage-v2.hbs"}}
        </div>
        <div class="tab" data-group="historique" data-tab="pouvoirs">
            {{#unless estTerne}}
                {{> "systems/agone/templates/partials/actors/bloc-liste-pouvoirs-flamme-personnage-v2.hbs"}}
            {{/unless}}
            {{#unless estHumain}}
                {{> "systems/agone/templates/partials/actors/bloc-liste-pouvoirs-saisonnin-personnage-v2.hbs"}}
            {{/unless}}
            {{#unless estPersonnage}}
                <div class="titre-rub">{{localize "agone.actors.pouvoirsSpeciaux"}}</div>
                <div class="edit-170">
                    {{editor data.system.pouvoirsSpeciaux target="system.pouvoirsSpeciaux" engine="prosemirror" button=true editable=true}}
                </div>
            {{/unless}}
        </div>
        <div class="tab" data-group="historique" data-tab="peinesBienfaits">
            {{> "systems/agone/templates/partials/actors/bloc-liste-peines-personnage-v2.hbs"}}
            {{> "systems/agone/templates/partials/actors/bloc-liste-bienfaits-personnage-v2.hbs"}}
        </div>
        <div class="tab histoire" data-group="historique" data-tab="histoire">
            <div class="titre-rub">{{localize "agone.actors.apparence"}}</div>
            {{editor data.system.apparence target="system.apparence" engine="prosemirror" button=true editable=true}}
            <div class="titre-rub">{{localize "agone.actors.biographie"}}</div>
            {{editor data.system.biographie target="system.biographie" engine="prosemirror" button=true editable=true}}
        </div>
    </div>
</div>