<div class="actor-flamme{{#if unlocked}}{{#if typePersonnage}} pc{{/if}}{{/if}}">
    <div class="box-flamme">
        <label>{{localize "agone.actors.caracteristiques"}}</label>
        {{#if unlocked}}
            {{#if typePersonnage}}
                <div class="pc-box">
                    <div>{{localize "agone.actors.pcCaracUtilises"}}</div>
                    <div>{{data.system.pcCaracs.depense}} / {{data.system.pcCaracs.base}}</div>
                </div>
            {{/if}}
        {{/if}}
    </div>
    <div class="box-flamme">
        <label>{{localize "agone.actors.flamme"}}</label>
        <div class="info-val">{{data.system.caracSecondaires.flamme}}</div>
    </div>
    <div class="box-flamme">
        <label>{{localize "agone.actors.flammeNoire"}}</label>
        <div class="info-val">{{data.system.caracSecondaires.flammeNoire}}</div>
    </div>
</div>