<!-- Bloc d'entête avec image à gauche et champs d'informations en ligne -->
<img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="150"/>
<div class="actor-infos">
    <div class="actor-name-line">
        <div class="nom-perso">{{actor.name}}</div>
        <div class="padlock">
            <a class="sheet-change-lock" title="{{localize 'agone.tooltip.deverrou'}}">
                <i class="fa-solid fa-lock"></i>
            </a>
        </div>
    </div>
    <div class="actor-infos-line">
        <label>{{localize "agone.actors.occupation"}} : </label>
        <div class="info-val">{{data.system.occupation}}</div>
        <label>{{localize "agone.actors.origine"}} : </label>
        <div class="info-val">{{data.system.origine}}</div>
    </div>
    <div class="actor-infos-line">
        <label>{{localize "agone.actors.sexe"}} : </label>
        <div class="info-val">{{data.system.sexe}}</div>
        <label>{{localize "agone.actors.peuple"}} : </label>
        <div class="info-val">{{configPeupleLocalize data.system.peuple}}</div>
        <label>{{localize "agone.actors.jetVieilAbbr"}} : </label>
        <div class="info-val">{{data.system.caracSecondaires.diffJetVieillesse}}</div>
        {{#if (lt data.system.caracSecondaires.diffJetVieillesse 1)}}
            <a class="roll-vieillesse" title="{{localize 'agone.actors.jetVieillesse'}}"><i class="fa-solid fa-dice-d10"></i></a>
        {{/if}}
        <label>{{localize "agone.actors.age"}} : </label>
        <div class="info-val">{{data.system.age}} {{localize 'agone.actors.anneesAbbr'}}</div>
        <label>{{localize "agone.actors.poids"}} : </label>
        <div class="info-val">{{data.system.poids}} {{localize 'agone.actors.kiloAbbr'}}</div>
    </div>
    <div class="actor-infos-line">
        <label>{{localize "agone.actors.taille"}} : </label>
        <div class="info-val">{{data.system.taille}} {{localize 'agone.actors.metreAbbr'}}</div>
        <label>{{localize "agone.actors.tai"}} : </label>
        <div class="info-val">{{data.system.caracSecondaires.tai}}</div>
        <label>{{localize "agone.actors.mouvementAbbr"}} : </label>
        <div class="info-val">{{data.system.caracSecondaires.mouvement}}</div>
        <label>{{localize "agone.actors.pdv"}}</label>
        <div class="small-size"><input name="system.caracSecondaires.pdv.value" type="number" value="{{data.system.caracSecondaires.pdv.value}}" placeholder="0" max="{{data.system.caracSecondaires.pdv.max}}"/></div>
        <div> / </div>
        <div class="info-val">{{data.system.caracSecondaires.pdv.max}}</div>
        <label>{{localize "agone.actors.nbBlessureGrave"}}  : </label>
        <div class="info-val">{{data.system.caracSecondaires.nbBlessureGrave}}</div>
    </div>
    </div>
</div>