<!-- Blocs d'aspects (corps, esprit ame) avec bonus calculé et caractéristiques primaires associées à chaque aspect -->
{{#each data.system.aspects as |aspect keyAsp|}}
    <div class="aspect {{#if (eq keyAsp "corps")}}bd-left{{/if}} {{#if (eq keyAsp "ame")}}bd-right{{/if}}">
        <div class="aspect-titre">{{aspect.positif.label}}</div>
        <div class="aspect-line">
            <label>{{aspect.positif.label}}</label>
            <div class="small-size"><input name="system.aspects.{{keyAsp}}.positif.valeur" type="number" value="{{aspect.positif.valeur}}" placeholder="0" min="0" max="10" readonly/></div>
            <label>{{aspect.negatif.label}}</label>
            <div class="small-size"><input name="system.aspects.{{keyAsp}}.negatif.valeur" type="number" value="{{aspect.negatif.valeur}}" placeholder="0" min="0" max="10" readonly/></div>
        </div>
        <div class="bonus-line">
            <label>{{aspect.bonus.label}}</label>
            <div class="small-size"><input name="system.aspects.{{keyAsp}}.bonus.valeur" type="number" value="{{aspect.bonus.valeur}}" placeholder="0" readonly/></div>
        </div>
        <div class="carac-line {{keyAsp}}">
            {{#each aspect.caracteristiques as |carac keyCarac|}}
                {{#unless carac.secondaire}}
                <label>{{carac.label}}</label>
                <div class="small-size"><input name="system.aspects.{{keyAsp}}.caracteristiques.{{keyCarac}}.valeur" type="number" value="{{carac.valeur}}" placeholder="0" min="0" max="10" readonly/></div>
                <a class="roll-carac" title="{{localize 'agone.actors.jetCarac'}}" data-carac="{{keyCarac}}"><i class="fa-solid fa-dice-d10"></i></a>
                {{/unless}}
            {{/each}}
        </div>
    </div>
{{/each}}