<div class="ligne-sort titre">
    <label></label>
    <label>{{localize "agone.common.name"}}</label>
    <label>{{localize "agone.items.resonance"}}</label>
    <label>{{localize "agone.items.seuil"}}</label>
    <label>{{localize "agone.items.porteeZoneEffet"}}</label>
    <label>{{localize "agone.items.dureeDanse"}}</label>
    <label>{{localize "agone.items.dureeSort"}}</label>
    <label></label>
    <a class="creer-item" data-type="Sort" title="{{localize 'agone.common.ajouter'}}"><i class="fas fa-plus"></i></a>
</div>
{{#each sorts as |sort id|}}
<div class="ligne-sort item" data-item-id="{{sort._id}}">
    <a class="item-roll"><img src="{{img}}" title="Jet de dés" height="32" width="32"/></a>
    <div>{{name}}</div>
    <div>{{configLocalize "resonances" data.resonance}}</div>
    <div>{{data.seuil}}</div>
    <div>{{data.portee}}</div>
    <div>{{data.dureeDanse}}</div>
    <div>{{data.dureeSort}}</div>
    <a class="editer-item" title="{{localize 'agone.common.editer'}}"><i class="fas fa-edit"></i></a>
    <a class="supprimer-item" title="{{localize 'agone.common.supprimer'}}"><i class="fas fa-trash"></i></a>
</div>            
{{/each}}