<div>
    <label>{{localize "agone.actors.flamme"}}</label>
    <div class="small-size"><input name="system.caracSecondaires.flamme" type="number" value="{{data.system.caracSecondaires.flamme}}" placeholder="0" readonly/></div>
</div>
<div>
    <label>{{localize "agone.actors.flammeNoire"}}</label>
    <div class="small-size"><input name="system.caracSecondaires.flammeNoire" type="number" value="{{data.system.caracSecondaires.flammeNoire}}" placeholder="0" readonly/></div>
</div>
<div>
    <label>{{localize "agone.actors.heroisme"}}</label>
    <div class="small-size"><input name="system.caracSecondaires.heroisme.value" type="number" value="{{data.system.caracSecondaires.heroisme.value}}" placeholder="0" min="0" max="{{data.system.caracSecondaires.heroisme.max}}"/></div>
    <label> / </label>
    <div class="small-size"><input name="system.caracSecondaires.heroisme.max" type="number" value="{{data.system.caracSecondaires.heroisme.max}}" placeholder="0" readonly/></div>
</div>