<div class="comp-titre">
    <label>{{localize "agone.actors.competences"}}</label>
    {{#if (and typePersonnage (not modeEditionLibre))}}
        <div class="pc-box">
            <div>{{localize "agone.actors.pcCompUtilises"}}</div>
            <div>{{data.system.pcCompetences.depense}} / {{data.system.pcCompetences.base}}</div>
        </div>
    {{/if}}
</div>
<nav class="competences-tabs tabs" data-group="competences">
    <a class="item" data-tab="epreuves">{{localize "agone.actors.epreuves"}}</a>
    <a class="item" data-tab="maraude">{{localize "agone.actors.maraude"}}</a>
    <a class="item" data-tab="societe">{{localize "agone.actors.societe"}}</a>
    <a class="item" data-tab="savoir">{{localize "agone.actors.savoir"}}</a>
    <a class="item" data-tab="occulte">{{localize "agone.actors.occulte"}}</a>
</nav>
{{#each data.system.familleCompetences as |famille keyFam|}}
    <div class="tab" data-group="competences" data-tab="{{keyFam}}">
        <div class="actor-fam-comp">
            <div class="actor-comp-grid-unlocked col-max">
                {{#each famille.competences as |competence keyComp|}}
                    {{#if domaine}}
                        <label class="titre-comp">{{competence.label}}</label>
                        {{#each domaines as |domaine keyDom|}}
                            {{#if domPerso}}
                                {{#if (eq keyComp "musique")}}
                                    <select name="system.familleCompetences.{{keyFam}}.competences.{{keyComp}}.domaines.{{keyDom}}.label">
                                        {{selectOptions ../../../config.instruments selected=label localize=true}}
                                    </select>
                                {{else}}
                                    <div class="dom-perso">
                                        <input name="system.familleCompetences.{{keyFam}}.competences.{{keyComp}}.domaines.{{keyDom}}.label" type="text" value="{{domaine.label}}" placeholder="{{localize 'agone.actors.domaine'}}" {{#if domaine.peuple}}readonly{{/if}}/>
                                    </div>
                                {{/if}}
                            {{else}}
                                <label class="dom-fixe">{{domaine.label}}</label>
                            {{/if}}
                            <div class="comp-crea minus">
                                <a class="mod-comp-crea" title="{{localize 'agone.tooltip.dimComp'}}" data-famille="{{keyFam}}" data-competence="{{keyComp}}" data-domaine="{{keyDom}}" data-action="minus">
                                    <i class="fa-solid fa-circle-minus"></i>
                                </a>
                            </div>
                            <div class="val-comp"><label>{{domaine.rang}}</label></div>
                            <div class="comp-crea plus">
                                <a class="mod-comp-crea" title="{{localize 'agone.tooltip.augComp'}}" data-famille="{{keyFam}}" data-competence="{{keyComp}}" data-domaine="{{keyDom}}" data-action="plus">
                                    <i class="fa-solid fa-circle-plus"></i>
                                </a>
                            </div>
                            <a class="case-chk-spe" title="" data-famille="{{keyFam}}" data-competence="{{keyComp}}" data-domaine="{{keyDom}}">
                                {{#if domaine.specialisation}}<i class="fa-regular fa-square-check"></i>{{else}}<i class="fa-regular fa-square"></i>{{/if}}
                            </a>
                            <div class="val-spe"><input name="system.familleCompetences.{{keyFam}}.competences.{{keyComp}}.domaines.{{keyDom}}.labelSpecialisation" type="text" value="{{domaine.labelSpecialisation}}" placeholder="{{localize 'agone.actors.specialisation'}}" {{#if domaine.spePeuple}}readonly{{/if}}/></div>
                            <select name="system.familleCompetences.{{keyFam}}.competences.{{keyComp}}.domaines.{{keyDom}}.caracteristique">
                                {{selectOptions ../../../config.caracteristiques selected=caracteristique localize=true}}
                            </select> 
                        {{/each}}
                    {{else}}
                        <label class="lbl-comp">{{competence.label}}</label>
                        <div class="comp-crea minus">
                            <a class="mod-comp-crea" title="{{localize 'agone.tooltip.dimComp'}}" data-famille="{{keyFam}}" data-competence="{{keyComp}}" data-action="minus">
                                <i class="fa-solid fa-circle-minus"></i>
                            </a>
                        </div>  
                        <div class="val-comp"><label>{{competence.rang}}</label></div>
                        <div class="comp-crea plus">
                            <a class="mod-comp-crea" title="{{localize 'agone.tooltip.augComp'}}" data-famille="{{keyFam}}" data-competence="{{keyComp}}" data-action="plus">
                                <i class="fa-solid fa-circle-plus"></i>
                            </a>
                        </div>
                        <a class="case-chk-spe" title="" data-famille="{{keyFam}}" data-competence="{{keyComp}}">
                            {{#if competence.specialisation}}<i class="fa-regular fa-square-check"></i>{{else}}<i class="fa-regular fa-square"></i>{{/if}}
                        </a>
                        <div class="val-spe"><input name="system.familleCompetences.{{keyFam}}.competences.{{keyComp}}.labelSpecialisation" type="text" value="{{competence.labelSpecialisation}}" placeholder="{{localize 'agone.actors.specialisation'}}" {{#if competence.spePeuple}}readonly{{/if}}/></div>
                        <select name="system.familleCompetences.{{keyFam}}.competences.{{keyComp}}.caracteristique">
                            {{selectOptions ../../config.caracteristiques selected=caracteristique localize=true}}
                        </select>                           
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
{{/each}}
