<div class="titre-rub">{{localize "agone.actors.armes"}}</div>
<div class="grid-armes">
    {{#each armes as |arme id|}}
        <div class="bloc-arme item" data-item-id="{{arme._id}}">
            <div class="ligne-titre">
                <a class="item-roll"><img src="{{img}}" title="{{localize 'agone.actors.voirArme'}}"/></a>
                <div class="titre">{{name}}</div>
                {{#if ../unlocked}}
                    <div class="icone"><a class="editer-item" title="{{localize 'agone.common.editer'}}"><i class="fa-duotone fa-solid fa-pen-to-square"></i></a></div>
                    <div class="icone"><a class="supprimer-item" title="{{localize 'agone.common.supprimer'}}"><i class="fa-duotone fa-solid fa-x"></i></a></div>
                {{else}}
                    {{#if system.nonUtilisable}}
                        <div class="icone warn"><i class="fa-light fa-hand-fist" title="{{system.raisonNonUtilisable}}"></i></div>
                    {{else if system.equipee}}
                        <div class="icone"><a class="mod-equip" data-action="retirer" title="{{localize 'agone.tooltip.armeEquipee'}} - {{configLocalize "armeEquipee" system.equipee}}"><i class="fa-solid fa-hand-fist"></i></a></div>
                    {{else}}
                        <div class="icone"><a class="mod-equip" data-action="equiper" title="{{localize 'agone.tooltip.clickPourEquiperArme'}}"><i class="fa-light fa-hand-fist"></i></a></div>
                    {{/if}}
                {{/if}}
            </div>
            <div class="ligne-stats-arme">
                <div class="style-row">
                    <i class="{{configSymbole system.style}} icone" title="{{configLocalize "stylesArme" system.style}}"></i>
                    {{#if (or (eq system.style "trait") (eq system.style "jet"))}}
                        {{system.portee}} m
                    {{/if}}
                </div>
                <div><i class="fa-duotone fa-solid fa-sword" title="{{localize 'agone.tooltip.modificateurAttaque'}}"></i> {{system.modifAttaque}}</div>
                <div><i class="fa-duotone fa-solid fa-shield-halved" title="{{localize 'agone.tooltip.modificateurParade'}}"></i> {{system.modifParade}}</div>
                <div><i class="fa-duotone fa-solid fa-bolt" title="{{localize 'agone.tooltip.modificateurInit'}}"></i> {{system.modifInit}}</div>
                <div>
                    <i class="fa-duotone fa-solid fa-burst" title="{{localize 'agone.tooltip.modificateurDommages'}}"></i> {{system.modifDommages}}
                    {{#if (eq system.type "perftranch")}}
                        <i class="{{configSymbole "perforante"}}" title="{{configLocalize "typesArme" "perforante"}}"></i>
                        <i class="{{configSymbole "tranchante"}}" title="{{configLocalize "typesArme" "tranchante"}}"></i>
                    {{else}}
                        <i class="{{configSymbole system.type}}" title="{{configLocalize "typesArme" system.type}}"></i>
                    {{/if}}
                </div>
            </div>
            {{#if (eq system.equipee "selection")}}
                {{#if (eq system.style "melee")}}
                    <div class="ligne-equipee-arme">
                        <div class="equip-row icone"><i class="fa-solid fa-hand-fist" title="{{configLocalize "armeEquipee" system.equipee}}"></i></div>
                        {{#if (gte system.diffTai 0)}}
                            {{#unless (eq system.equipee "mainPri")}}
                                <div><a class="mod-equip" data-action="mainPri"><i class="fa-regular fa-square"></i></a> {{localize "agone.items.mainPri"}}</div>
                            {{else}}
                                <div><a class="mod-equip" data-action="retirer"><i class="fa-regular fa-square-check"></i></a> {{localize "agone.items.mainPri"}}</div>
                            {{/unless}}
                            {{#unless (eq system.equipee "mainSec")}}
                                <div><a class="mod-equip" data-action="mainSec"><i class="fa-regular fa-square"></i></a> {{localize "agone.items.mainSec"}}</div>
                            {{else}}
                                <div><a class="mod-equip" data-action="retirer"><i class="fa-regular fa-square-check"></i></a> {{localize "agone.items.mainSec"}}</div>
                            {{/unless}}
                        {{/if}}
                        {{#if (eq system.diffTai 0)}}
                            {{#unless (eq system.equipee "deuxMains")}}
                                <div><a class="mod-equip" data-action="deuxMains"><i class="fa-regular fa-square"></i></a> {{localize "agone.items.deuxMains"}}</div>
                            {{else}}
                                <div><a class="mod-equip" data-action="retirer"><i class="fa-regular fa-square-check"></i></a> {{localize "agone.items.deuxMains"}}</div>
                            {{/unless}}
                        {{/if}}
                    </div>
                {{else if (eq system.style "jet")}}
                    <div class="ligne-equipee-arme">
                        <div class="equip-row icone"><i class="fa-solid fa-hand-fist" title="{{configLocalize "armeEquipee" system.equipee}}"></i></div>
                        {{#unless (eq system.equipee "mainPri")}}
                            <div><a class="mod-equip" data-action="mainPri"><i class="fa-regular fa-square"></i></a> {{localize "agone.items.mainPri"}}</div>
                        {{else}}
                            <div><a class="mod-equip" data-action="retirer"><i class="fa-regular fa-square-check"></i></a> {{localize "agone.items.mainPri"}}</div>
                        {{/unless}}
                        {{#unless (eq system.equipee "mainSec")}}
                            <div><a class="mod-equip" data-action="mainSec"><i class="fa-regular fa-square"></i></a> {{localize "agone.items.mainSec"}}</div>
                        {{else}}
                            <div><a class="mod-equip" data-action="retirer"><i class="fa-regular fa-square-check"></i></a> {{localize "agone.items.mainSec"}}</div>
                        {{/unless}}
                    </div>
                {{/if}}
            {{/if}}
            {{#if ../unlocked}}
                <div class="ligne-comp">
                    <div>{{localize "agone.actors.competence"}}</div>
                    <select class="inline-edit" data-field="system.competence">
                        {{#select system.competence}}
                            <option value=""></option>
                            {{#each ../actor.system.familleCompetences.epreuves.competences.armes.domaines as |domaine keyDom|}}
                                {{#if domaine.label}}
                                    <option value="{{keyDom}}">{{localize domaine.label}}</option>
                                {{/if}}
                            {{/each}}
                        {{/select}}
                    </select>
                </div>
            {{/if}}
        </div>
    {{/each}}
</div>
