<div class="grid-data-histo">
    <div class="data-histo">
        {{#if typePersonnage}}
        <div class="experience">            
            <div class="grid-experience">
                <div class="data-experience-titre lib-all">{{localize "agone.actors.experience"}}</div>
                <label>{{localize "agone.actors.experienceDisponible"}}</label>
                <div class="val"><label>{{data.system.experience.disponible}}</label></div>
                <label>{{localize "agone.actors.experienceTotale"}}</label>
                <div class="val"><label>{{data.system.experience.totale}}</label></div>
            </div>
        </div>
        {{/if}}
        {{#if (eq tabHistoActif "peinesBienfaits")}}
            <div class="peinesBienfaits">            
                <div class="grid-peinesBienfaits">
                    <div class="data-peinesBienfaits-titre lib-all">{{localize "agone.actors.corruption"}}</div>
                    <label>{{localize "agone.actors.tenebre"}}</label>
                    <div class="val"><label>{{data.system.caracSecondaires.tenebre.valeur}}</label></div>
                    <label>{{localize "agone.actors.perfidie"}}</label>
                    <div class="val"><label>{{data.system.caracSecondaires.perfidie.valeur}}</label></div>
                </div>
            </div>
        {{/if}}
    </div>
    <div class="historique">
        <nav class="historique-tabs tabs" data-group="historique">
            <a class="item" data-tab="avantagesDefauts">{{localize "agone.actors.avantages"}} / {{localize "agone.actors.defauts"}}</a>
            <a class="item" data-tab="pouvoirs">{{localize "agone.actors.pouvoirs"}}</a>
            <a class="item" data-tab="peinesBienfaits">{{localize "agone.actors.peinesBienfaits"}}</a>
            <a class="item" data-tab="histoire">{{localize "agone.actors.histoire"}}</a>
        </nav>
        <div class="tab" data-group="historique" data-tab="avantagesDefauts">
            {{> "systems/agone/templates/partials/actors/bloc-liste-avantages-personnage-v2.hbs"}}
            {{> "systems/agone/templates/partials/actors/bloc-liste-defauts-personnage-v2.hbs"}}
        </div>
        <div class="tab" data-group="historique" data-tab="pouvoirs">
            {{> "systems/agone/templates/partials/actors/bloc-liste-pouvoirs-flamme-personnage-v2.hbs"}}
            {{> "systems/agone/templates/partials/actors/bloc-liste-pouvoirs-saisonnin-personnage-v2.hbs"}}
        </div>
        <div class="tab" data-group="historique" data-tab="peinesBienfaits">
            {{> "systems/agone/templates/partials/actors/bloc-liste-peines-personnage-v2.hbs"}}
            {{> "systems/agone/templates/partials/actors/bloc-liste-bienfaits-personnage-v2.hbs"}}
        </div>
        <div class="tab histoire" data-group="historique" data-tab="histoire">
            <div class="titre-rub">{{localize "agone.actors.apparence"}}</div>
            {{editor data.system.apparence target="system.apparence" engine="prosemirror" button=true editable=true}}
            <div class="titre-rub">{{localize "agone.actors.biographie"}}</div>
            {{editor data.system.biographie target="system.biographie" engine="prosemirror" button=true editable=true}}
        </div>
    </div>
</div>