<div class="grid-data-att">
    <div class="data-combat">
        {{#if estPersonnage}}
            <div class="heroisme">
                <div class="grid-heroisme">
                    <div class="data-combat-titre lib-all">{{localize "agone.actors.heroisme"}}</div>
                    <label>{{localize "agone.common.reserve"}}</label>
                    <label><a class="regen-heroisme" title="{{localize 'agone.tooltip.regainHeroisme'}}"><i class="fa-duotone fa-solid fa-fire-flame-curved"></i></a></label>
                    <div class="val"><label>{{data.system.caracSecondaires.heroisme.value}}</label></div>
                    <div class="sep"> / </div>
                    <div class="val"><label>{{data.system.caracSecondaires.heroisme.max}}</label></div>
                </div>
            </div> 
        {{/if}}
        <div class="sante">
            <div class="grid-sante">
                <div class="data-combat-titre lib-all">{{localize "agone.actors.etatSante"}}</div>
                <label>{{localize "agone.actors.pdv"}}</label>
                {{#if (and estPersonnage estEG)}}
                    <div class="val"><label>{{data.system.caracSecondaires.pdv.value}}</label></div>
                {{else}}
                    <div class="edit"><input name="system.caracSecondaires.pdv.value" type="number" value="{{data.system.caracSecondaires.pdv.value}}" placeholder="0" max="{{data.system.caracSecondaires.pdv.max}}"/></div>
                {{/if}}
                <div class="sep"> / </div>
                <div class="val"><label>{{data.system.caracSecondaires.pdv.max}}</label></div>
                <label class="lib-blessGrave">{{localize "agone.actors.nbBlessureGrave"}}</label>
                <div class="sep">
                    <div class="blessGrave minus">
                        <a class="mod-blessGrave" title="{{localize 'agone.tooltip.dimBlessGrave'}}" data-action="minus">
                            <i class="fa-solid fa-circle-minus"></i>
                        </a>
                    </div>
                </div>
                <div class="val"><label>{{data.system.caracSecondaires.nbBlessureGrave}}</label></div>
                <div class="sep">
                    <div class="blessGrave plus">
                        <a class="mod-blessGrave" title="{{localize 'agone.tooltip.augBlessGrave'}}" data-action="plus">
                            <i class="fa-solid fa-circle-plus"></i>
                        </a>
                    </div>
                </div>
                <label class="lib">{{localize "agone.actors.malusBlessures"}}</label>
                <div class="val"><label>{{data.system.caracSecondaires.malusBlessures}}</label></div>
                <label class="lib-all">{{localize "agone.actors.blessuresCritique"}}</label>
            </div>
        </div>
        <div class="init-basique">
            <div class="data-combat-titre">{{localize "agone.actors.initiative"}}</div>
            <button class="initiative"><i class="fa-duotone fa-solid fa-bolt"></i> {{localize "agone.actors.initiativeNonArme"}}</button>
        </div>
        <div class="actions-def"> 
            <div class="data-combat-titre">{{localize "agone.actors.actionsDefense"}}</div>
            <button class="esquive"><i class="fa-duotone fa-solid fa-person-running-fast"></i> {{localize "agone.actors.esquive"}}</button>
            <button class="defenseNat"><i class="fa-duotone fa-solid fa-shield-slash"></i> {{localize "agone.actors.defenseNat"}}</button>
            <button class="resistMagieNat"><i class="fa-sharp-duotone fa-solid fa-person-falling-burst"></i> {{localize "agone.actors.resistMagie"}}</button>
        </div>
    </div>
    <div class="attaque">
        {{> "systems/agone/templates/partials/actors/bloc-liste-armes-personnage-v2.hbs"}}
        {{> "systems/agone/templates/partials/actors/bloc-liste-armures-personnage-v2.hbs"}}
    </div>
</div>