<div class="box-flamme">
    <label>{{localize "agone.actors.flamme"}}</label>
    <div class="info-val">{{data.system.caracSecondaires.flamme}}</div>
</div>
<div class="box-flamme">
    <label>{{localize "agone.actors.flammeNoire"}}</label>
    <div class="info-val">{{data.system.caracSecondaires.flammeNoire}}</div>
</div>
<div class="box-flamme">
    <label>{{localize "agone.actors.heroisme"}}</label>
    <div class="info-val">{{data.system.caracSecondaires.heroisme.value}}</div>
    <div class="slash"> / </div>
    <div class="info-val">{{data.system.caracSecondaires.heroisme.max}}</div>
</div>