<div class="grid-data-histo-mini">
    <div class="data-histo"></div>
    <div class="historique">
        <nav class="historique-tabs tabs" data-group="historique">
            <a class="item" data-tab="pouvoirs">{{localize "agone.actors.pouvoirs"}}</a>
            <a class="item" data-tab="histoire">{{localize "agone.actors.histoire"}}</a>
        </nav>
        <div class="tab" data-group="historique" data-tab="pouvoirs">
            <div class="titre-rub">{{localize "agone.actors.pouvoirsSpeciaux"}}</div>
            <div class="edit-250">
                {{editor data.system.pouvoirsSpeciaux target="system.pouvoirsSpeciaux" engine="prosemirror" button=true editable=true}}
            </div>
        </div>
        <div class="tab histoire" data-group="historique" data-tab="histoire">
            <div class="titre-rub">{{localize "agone.actors.apparence"}}</div>
            <div class="edit-170">
                {{editor data.system.apparence target="system.apparence" engine="prosemirror" button=true editable=true}}
            </div>
            <div class="titre-rub">{{localize "agone.actors.biographie"}}</div>
            <div class="edit-170">
                {{editor data.system.biographie target="system.biographie" engine="prosemirror" button=true editable=true}}
            </div>
        </div>
    </div>
</div>