<img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="150"/>
<div class="demon-infos">
    <div class="demon-name-line">
        <div class="nom-demon"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'agone.common.name'}}"/></div>
        <div class="padlock">
            <a class="sheet-change-lock" title="{{localize 'agone.tooltip.verrou'}}">
                <i class="fa-solid fa-unlock"></i>
            </a>
        </div>
    </div>
    <div class="demon-infos-line-1">
        <label>{{localize "agone.actors.cercle"}}</label>
        <select class="auto-size edit-peuple" name="system.cercle">
            {{selectOptions config.cerclesDemon selected=data.system.cercle localize=true}}
        </select>
        {{#if estEG}}
            {{#if utilisePcAppel}}
                <div class="switch">
                    <a class="sheet-utilise-appel" title="{{localize 'agone.tooltip.changerModeCreation'}}"><i class="fa-solid fa-circle-9"></i></a>
                    {{localize "agone.actors.pointsAppel"}}
                </div>
            {{else}}
                <div class="switch">
                    <a class="sheet-utilise-appel" title="{{localize 'agone.tooltip.changerModeCreation'}}"><i class="fa-light fa-circle"></i></a>
                    {{localize "agone.actors.modeLibre"}}
                </div>
            {{/if}}
        {{/if}}      
        <label>{{localize "agone.actors.pcAppelUtilises"}} : </label>
        <div class="info-val">{{data.system.pcAppel.depense}}</div>
        <div class="sep"> / </div>
        {{#if estEG}}
            <div class="small-size"><input name="system.pcAppel.base" type="number" value="{{data.system.pcAppel.base}}" placeholder="0"/></div>
        {{else}}
            <div class="info-val">{{data.system.pcAppel.base}}</div>
            <div>&nbsp;</div>
        {{/if}}
    </div>
</div>