<img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="150"/>
<div class="demon-infos">
    <div class="demon-name-line">
        <div class="nom-demon">{{actor.name}}</div>
        <div class="padlock">
            <a class="sheet-change-lock" title="{{localize 'agone.tooltip.deverrou'}}">
                <i class="fa-solid fa-lock"></i>
            </a>
        </div>
    </div>
    <div class="demon-infos-line-2">
        <label>{{localize "agone.actors.cercle"}} : </label>
        <div class="info-val">{{configLocalize "cerclesDemon" data.system.cercle}}</div>
    </div>
</div>