<div class="ligne-danseur titre">
    <label></label>
    <label>{{localize "agone.common.name"}}</label>
    <label>{{localize "agone.items.memoireDispo"}}</label>
    <label>{{localize "agone.items.memoireMax"}}</label>
    <label>{{localize "agone.items.bonusEmprise"}}</label>
    <label>{{localize "agone.items.empathie"}}</label>
    <label>{{localize "agone.items.enduranceDispo"}}</label>
    <label>{{localize "agone.items.enduranceMax"}}</label>
    <label>{{localize "agone.actors.experience"}}</label> 
    <a class="repos-danseurs" title="{{localize 'agone.chat.regenEndDanseurs'}}"><i class="fas fa-moon"></i></a>
    <a class="creer-item" data-type="Danseur" title="{{localize 'agone.common.ajouter'}}"><i class="fas fa-plus"></i></a>
</div>
{{#each danseurs as |danseur id|}}
<div class="ligne-danseur item" data-item-id="{{danseur._id}}">
    <a class="item-roll"><img src="{{img}}" title="{{localize 'agone.actors.voirDanseur'}}" height="32" width="32"/></a>
    <div>{{name}}</div>
    <div>{{system.memoire.value}}</div>
    <div>{{system.memoire.max}}</div>
    <div>{{system.bonusEmprise}}</div>
    <div>{{system.empathie}}</div>
    <div>{{system.endurance.value}}</div>
    <div>{{system.endurance.max}}</div>
    <div>{{system.experience}}</div>
    <a class="editer-item" title="{{localize 'agone.common.editer'}}"><i class="fas fa-edit"></i></a>
    <a class="supprimer-item" title="{{localize 'agone.common.supprimer'}}"><i class="fas fa-trash"></i></a>
</div>   
{{/each}}