<img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="150"/>
<div class="demon-infos">
    <div class="demon-name-line">
        <div class="nom-demon"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'agone.common.name'}}"/></div>
        <div class="padlock">
            <a class="sheet-change-lock" title="{{localize 'agone.tooltip.verrou'}}">
                <i class="fa-solid fa-unlock"></i>
            </a>
        </div>
    </div>
    <div class="demon-infos-line-1">
        {{#if estEG}}
            {{#if utilisePcAppel}}
                <div class="switch">
                    <a class="sheet-utilise-appel" title="{{localize 'agone.tooltip.changerModeCreation'}}"><i class="fa-solid fa-circle-a"></i></a>
                    <span>{{localize "agone.actors.pointsAppel"}}</span>
                </div>
            {{else}}
                <div class="switch">
                    <a class="sheet-utilise-appel" title="{{localize 'agone.tooltip.changerModeCreation'}}"><i class="fa-light fa-circle"></i></a>
                    <span>{{localize "agone.actors.modeLibre"}}</span>
                </div>
            {{/if}}
        {{else}}
            {{#if utilisePcAppel}}
                <div class="switch">
                    <i class="fa-solid fa-circle-a" title="{{localize 'agone.tooltip.changerModeCreation'}}"></i>
                    <span>{{localize "agone.actors.pointsAppel"}}</span>
                </div>
            {{else}}
                <div class="switch">
                    <i class="fa-light fa-circle" title="{{localize 'agone.tooltip.changerModeCreation'}}"></i>
                    <span>{{localize "agone.actors.modeLibre"}}</span>
                </div>
            {{/if}}
        {{/if}}
        {{#if utilisePcAppel}}
            <label>{{localize "agone.actors.pcAppelUtilises"}} : </label>
            <div class="info-val">{{data.system.pcAppel.depense}}</div>
            <label>{{localize "agone.actors.pcAppelDispo"}} : </label>
            {{#if estEG}}
                <div class="small-size"><input name="system.pcAppel.base" type="number" value="{{data.system.pcAppel.base}}" placeholder="0"/></div>
            {{else}}
                <div class="info-val">{{data.system.pcAppel.base}}</div>
                <div>&nbsp;</div>
            {{/if}}
        {{/if}}
        <div class="reset">
            <a class="sheet-reset-stats" title="{{localize 'agone.tooltip.reinitStats'}}"><i class="fa-solid fa-circle-xmark"></i></a>
        </div>
    </div>
    <div class="demon-infos-line-2-unlocked">
        <label>{{localize "agone.actors.cercle"}}</label>
        <select class="auto-size edit-peuple" name="system.cercle" {{#if figerCercle}}disabled{{/if}}>
            {{selectOptions config.cerclesDemon selected=data.system.cercle localize=true}}
        </select>
        <label>{{localize "agone.actors.tai"}}</label>
        <div class="stat-appel minus">
            <a class="mod-stat-appel" title="{{localize 'agone.tooltip.dimCarac'}}" data-stat="tai" data-action="minus">
                <i class="fa-solid fa-circle-minus"></i>
            </a>
        </div>
        <div class="val-stat">
            <label>
                {{data.system.caracSecondaires.tai.valeur}}
            </label>
        </div>
        <div class="stat-appel plus">
            <a class="mod-stat-appel" title="{{localize 'agone.tooltip.augCarac'}}" data-stat="tai" data-action="plus">
                <i class="fa-solid fa-circle-plus"></i>
            </a>
        </div>
        <label>{{localize "agone.actors.mouvementAbbr"}} : </label>
        <div class="info-val">{{data.system.caracSecondaires.mouvement.valeur}}</div>
        <label>{{localize "agone.actors.vol"}}</label>
        <div class="stat-appel minus">
            <a class="mod-stat-appel" title="{{localize 'agone.tooltip.dimCarac'}}" data-stat="vol" data-action="minus">
                <i class="fa-solid fa-circle-minus"></i>
            </a>
        </div>
        <div class="val-stat">
            <label>
                {{data.system.caracSecondaires.vol.valeur}}
            </label>
        </div>
        <div class="stat-appel plus">
            <a class="mod-stat-appel" title="{{localize 'agone.tooltip.augCarac'}}" data-stat="vol" data-action="plus">
                <i class="fa-solid fa-circle-plus"></i>
            </a>
        </div>
        <div>&nbsp;</div>
    </div>
</div>