<a class="item-roll"><img src="{{img}}" title="{{localize 'agone.actors.voirEquipement'}}"/></a>
<div class="nom">{{name}}</div>
<div><i class="fa-duotone fa-solid fa-coins" title="{{localize 'agone.tooltip.valeur'}}"></i> {{system.valeur}}</div>