<div class="actor-fam-comp">
    {{#each data.colonnes as |col|}}
        <div class="actor-comp-grid">
            {{#each ../data.familleCompetences as |famille keyFam|}} 
                {{#if (eq famille.numcol col)}}
                    <label class="titre-fam">{{famille.label}}</label>
                {{/if}}
                {{#each famille.competences as |competence keyComp|}}
                    {{#if domaine}}
                        {{#if (eq competence.numcol col)}}
                            <label class="titre-comp">{{competence.label}}</label>
                        {{/if}}
                            {{#each domaines as |domaine keyDom|}}
                                {{#if (eq domaine.numcol col)}}                                        
                                    {{#if domPerso}}
                                        <div class="dom-perso"><input name="data.familleCompetences.{{keyFam}}.competences.{{keyComp}}.domaines.{{keyDom}}.label" type="text" value="{{domaine.label}}" placeholder="{{localize 'agone.common.domaine'}}"/></div>
                                    {{else}}
                                        <label class="dom-fixe">{{domaine.label}}</label>
                                    {{/if}}
                                    <div class="val-comp"><input name="data.familleCompetences.{{keyFam}}.competences.{{keyComp}}.domaines.{{keyDom}}.rang" type="number" value="{{domaine.rang}}" placeholder="0"/></div>
                                    <div class="chk-spe"><input name="data.familleCompetences.{{keyFam}}.competences.{{keyComp}}.domaines.{{keyDom}}.specialisation" type="checkbox" data-dtype="Boolean" {{checked domaine.specialisation}}/></div>
                                    <a class="roll-comp" title="{{localize 'agone.common.jetComp'}}" data-famille="{{keyFam}}" data-competence="{{keyComp}}" data-domaine="{{keyDom}}" data-carac="{{domaine.caracteristique}}"><i class="fas fa-dice" ></i></a> 
                                {{/if}}      
                            {{/each}}
                        {{else}}
                        {{#if (eq competence.numcol col)}}
                            <label class="lbl-comp">{{competence.label}}</label>     
                            <div class="val-comp"><input name="data.familleCompetences.{{keyFam}}.competences.{{keyComp}}.rang" type="number" value="{{competence.rang}}" placeholder="0"/></div>                                
                            <div class="chk-spe"><input name="data.familleCompetences.{{keyFam}}.competences.{{keyComp}}.specialisation" type="checkbox" data-dtype="Boolean" {{checked competence.specialisation}}/></div>
                            <a class="roll-comp" title="{{localize 'agone.common.jetComp'}}" data-famille="{{keyFam}}" data-competence="{{keyComp}}" data-carac="{{competence.caracteristique}}"><i class="fas fa-dice"></i></a> 
                        {{/if}}    
                    {{/if}}
                {{/each}}
            {{/each}}
        </div> 
    {{/each}}
</div>