<form>
    {{#if (eq defenseurData.typeDefense "parade")}}
        <div class="titre">
            {{#if armeData.equipee}}<i class="fa-solid fa-hand-fist {{#if (eq armeData.equipee "mainSec")}}red{{/if}} icone"></i>{{/if}} {{armeData.nomArme}}
        </div>
        <div class="grid-entete">
            <div class="lib-ent">{{ localize "agone.dialog.parade"}}</div>
            <div class="lib-ent">{{ localize "agone.dialog.potentiel"}} <i class="fa-duotone fa-solid fa-shield-halved"></i> {{defenseurData.potDefense}}</div>
        </div>
    {{/if}}
    {{#if (eq defenseurData.typeDefense "esquive")}} 
        <div class="titre">
            <i class="fa-duotone fa-solid fa-person-running-fast icone"></i> {{ localize "agone.dialog.esquive"}}
        </div>
        <div class="grid-entete">
            <div class="lib-ent-all">{{ localize "agone.dialog.potentiel"}} <i class="fa-duotone fa-solid fa-shield-halved"></i> {{defenseurData.potDefense}}</div>
        </div>
    {{/if}}
    {{#if (eq defenseurData.typeDefense "defenseNat")}}
        <div class="titre">
            <i class="fa-duotone fa-solid fa-shield-slash icone"></i> {{ localize "agone.dialog.defenseNat"}}
        </div>
        <div class="grid-entete">
            <div class="lib-ent-all">{{ localize "agone.dialog.potentiel"}} <i class="fa-duotone fa-solid fa-shield-halved"></i> {{defenseurData.potDefense}}</div>
        </div>
    {{/if}}
    <div class="grid-def">
        {{#if defenseurData.specialisation}}
            <div class="lib-lg"><i class="fa-duotone fa-solid fa-award"></i> {{ localize "agone.actors.specialisation"}}  <span class="bold">{{defenseurData.labelSpecialisation}} (+1)</span></div>
            <div class="val"><input type="checkbox" name="utiliseSpecialisation"/></div>
        {{/if}} 
        <div class="lib-lg">{{ localize "agone.dialog.utiliseHeroisme"}}</div>
        <div class="val"><input type="checkbox" name="utiliseHeroisme"/></div>
        {{#if (eq defenseurData.typeDefense "parade")}}
            <div class="lib-all">{{ localize "agone.dialog.arme"}}</div>
            <div>{{ localize "agone.dialog.mauvaiseMain"}}</div>
            <div class="val"><input type="checkbox" name="mauvaiseMain"/></div>
            <div>{{ localize "agone.dialog.armeNonPreteDist"}}</div>
            <div class="val"><input type="checkbox" name="armeNonPreteDist"/></div>
            <div>{{ localize "agone.dialog.attParMemeArme"}}</div>
            <div class="val"><input type="checkbox" name="attParMemeArme"/></div>
        {{/if}}
        <div class="lib-all">{{ localize "agone.dialog.defenseur"}}</div>
        {{#if (eq defenseurData.typeDefense "esquive")}}
            <div>{{ localize "agone.dialog.defenseurEnSelle"}}</div>
            <div class="val"><input type="checkbox" name="defenseurEnSelle"/></div>
        {{/if}}
        <div>{{ localize "agone.dialog.defenseurAuSol"}}</div>
        <div class="val"><input type="checkbox" name="defenseurAuSol"/></div>
        <div>{{ localize "agone.dialog.defenseurSureleve"}}</div>
        <div class="val"><input type="checkbox" name="defenseurSureleve"/></div>
        <div class="lib-all">{{ localize "agone.dialog.attaque"}}</div>
        <div>{{ localize "agone.dialog.attaqueCote"}}</div>
        <div class="val"><input type="checkbox" name="attaqueCote"/></div>
        <div>{{ localize "agone.dialog.attaqueDos"}}</div>
        <div class="val"><input type="checkbox" name="attaqueDos"/></div>
    </div>
</form>