<div class="carte instrument-desaccord" data-owner-id="{{owner}}">
    <div class="titre">
        <!-- <img src="{{img}}" title="{{name}}" height="32" width="32"/> -->
        <div class="titre-nom">{{localize "agone.actors.jetDesaccord"}}</div>
    </div>
    <div class="grid-2-chk">
        <label class="entete">{{ localize "agone.chat.utiliseHeroisme"}}</label>
        <input class="util-hero" type="checkbox" name="utiliseHeroisme"/>
    </div>
    <div>{{ localize "agone.chat.instrumentDesaccord" }}</div>
    <div class="boutons-carte">
        <div class="ligne-btn-1">
            {{#each instruments as | instrument | }}
                {{#if instrument.label}}
                    <button class="jet-desaccord" data-instrument="{{instrument.label}}">{{#unless (eq instrument.value "aucun")}}{{configLocalize "instruments" instrument.value}}{{else}}ND !!{{/unless}}</button>
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>