<div class="carte oeuvre" data-item-id="{{_id}}" data-owner-id="{{owner}}">
    <div class="titre">
        <img src="{{img}}" title="{{name}}" height="32" width="32"/>
        <div class="titre-nom">{{name}}</div>
    </div>
    {{#if (eq system.artMagique "accord")}}
    <div class="grid-3">
        <div class="entete">{{localize "agone.items.artMagique"}}</div>
        <div class="entete">{{localize "agone.items.instrument"}}</div>
        <div class="entete">{{localize "agone.items.seuil"}}</div>
        <div>{{configLocalize "arts" system.artMagique}}</div>
        <div>{{configLocalize "instruments" system.instrument}}</div>
        <div>{{system.seuil}}</div>
    </div>
    {{/if}}
    {{#if (eq system.artMagique "decorum")}}
    <div class="grid-3">
        <div class="entete">{{localize "agone.items.artMagique"}}</div>
        <div class="entete">{{localize "agone.actors.saison"}}</div>
        <div class="entete">{{localize "agone.items.seuil"}}</div>
        <div>{{configLocalize "arts" system.artMagique}}</div>
        <div>{{configLocalize "saisons" system.saison}}</div>
        <div>{{system.seuil}}</div>
    </div>
    {{/if}}
    {{#if (eq system.artMagique "geste")}}
    <div class="grid-2">
        <div class="entete">{{localize "agone.items.artMagique"}}</div>
        <div class="entete">{{localize "agone.items.seuil"}}</div>
        <div>{{configLocalize "arts" system.artMagique}}</div>
        <div>{{system.seuil}}</div>
    </div>
    {{/if}}
    {{#if (eq system.artMagique "cyse")}}
    <div class="grid-2">
        <div class="entete">{{localize "agone.items.artMagique"}}</div>
        <div class="entete">{{localize "agone.items.seuil"}}</div>
        <div>{{configLocalize "arts" system.artMagique}}</div>
        <div>{{system.seuil}}</div>
    </div>
    {{/if}}
    {{#if system.description}}
        <div class="carte-desc">{{editor system.description target="system.description" owner=true}}</div>
    {{/if}}
    <div class="boutons-carte">
        <div class="ligne-btn-1">
            <button class="jet-oeuvre"><i class="{{configSymbole system.artMagique}}"></i> {{localize "agone.chat.executerCetteOeuvre"}}</button>
        </div>
    </div>
</div>