<form>
    <div>Exécuter l'oeuvre <span class="bold">{{oeuvreData.nomOeuvre}}</span></span></div>
    <div>{{ localize "agone.actors.potArtMagique"}} <span class="bold">{{artisteData.potArtMagique}}</span> - {{ localize "agone.items.seuil"}} <span class="bold">{{oeuvreData.seuil}}</span></div>
    <div class="form-group">
        <label>{{ localize "agone.chat.magieInstantanee"}}</label>
        <input type="checkbox" name="magieInstantanee"/>
    </div> 
    {{#if (eq oeuvreData.artMagique "accord")}}
        <div class="form-group">
            <label>{{localize "agone.chat.qualiteInstrument"}}</label>
            <select name="qualiteInstrument">
                {{#select qualiteInstrument}}
                    {{#each cfgData.qualiteInstrument as | qualInst |}}
                        <option value="{{qualInst.modif}}">{{localize qualInst.label}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
    {{/if}}
    {{#if (eq oeuvreData.artMagique "geste")}}
        <div class="form-group">
            <label>{{localize "agone.chat.bruitEnviron"}}</label>
            <select name="bruitEnviron">
                {{#select bruitEnviron}}
                    {{#each cfgData.bruitEnviron as | bruit |}}
                        <option value="{{bruit.modif}}">{{localize bruit.label}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
    {{/if}}
    {{#if (eq oeuvreData.artMagique "decorum")}}
        <div class="form-group">
            <label>{{localize "agone.chat.saisonOeuvre" saison=oeuvreData.saison}}</label>
            <select name="saisonOeuvre">
                {{#select saisonOeuvre}}
                    {{#each cfgData.saisonOeuvre as | so |}}
                        <option value="{{so.modif}}">{{localize so.label}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
    {{/if}}
    {{#if (eq oeuvreData.artMagique "cyse")}}
        <div class="form-group">
            <label>{{localize "agone.chat.materiaux"}}</label>
            <select name="materiaux">
                {{#select materiaux}}
                    {{#each cfgData.materiaux as | mat |}}
                        <option value="{{mat.resistance}}">{{localize mat.label}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
    {{/if}}
    <div class="form-group">
        <label>{{localize "agone.chat.margeQualite"}}</label>
        <input type="number" name="margeQualite" value="0" min="0"/>
    </div> 
    <div class="form-group">
        <label>{{ localize "agone.chat.utiliseHeroisme"}}</label>
        <input type="checkbox" name="utiliseHeroisme"/>
    </div>
</form>