<form>
    <div class="form-group">
        <label>{{ localize "agone.actors.caracteristique"}}</label>
        <select name="caracteristique">
            {{selectOptions data.caracteristiques selected=defCarac localize=true}}
        </select>
    </div>
    <div class="form-group">
        <label>{{ localize "agone.chat.difficulte"}}</label>
        <input type="number" name="difficulte" value="15" min="0"/>
    </div>
    {{#if specialisation}}
        <div class="form-group">
            <div>{{ localize "agone.actors.specialisation"}}  <span class="bold">{{labelSpecialisation}}</span></div>
            <input type="checkbox" name="utiliseSpecialisation"/>
        </div>
    {{/if}}
    <div class="form-group">
        <label>{{ localize "agone.chat.utiliseHeroisme"}}</label>
        <input type="checkbox" name="utiliseHeroisme"/>
    </div>
</form>