<form>
    {{#if sortData.isIntuitif}}
        <div>{{ localize "agone.chat.jetSortMagieIntuitiveDanseur"}} <span class="bold">{{danseurData.nomDanseur}}</span></div>
        <div>{{ localize "agone.actors.potEmpriseIntuitive"}} <span class="bold">{{mageData.potEmprise}}</span></div>
        <div class="form-group">
            <label>{{ localize "agone.chat.seuilEstime"}}</label>
            <input type="number" name="seuilEstime" value="0" min="0"/>
        </div>
        <div class="txt-small">{{ localize "agone.chat.seuilEstimeMsg"}}</div>
        <div class="form-group">
            <label>{{localize "agone.chat.resonanceEstimee"}}</label>
            <select name="resonanceEstimee">
                {{#select resonances}}
                    {{#each cfgData.resonances as | resonance key |}}
                        <option value="{{key}}">{{localize resonance}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
    {{else}}
        <div>{{ localize "agone.chat.jetSort"}} <span class="bold">{{sortData.nomSort}}</span> {{ localize "agone.chat.avecDanseur"}} <span class="bold">{{danseurData.nomDanseur}}</span></div>
        <div>{{ localize "agone.actors.potEmprise"}} <span class="bold">{{mageData.potEmprise}}</span> - {{ localize "agone.items.seuil"}} <span class="bold">{{sortData.seuilTotal}}</span></div>
        {{#if sortData.diffObedience}}<div class="txt-small">{{localize "agone.chat.seuilDetail" seuil=sortData.seuil }}</div>{{/if}}
    {{/if}}
    <div class="form-group">
        <label>{{ localize "agone.chat.magieInstantanee"}}</label>
        <input type="checkbox" name="magieInstantanee"/>
    </div>
    <div class="form-group">
        <label>{{ localize "agone.chat.danseurInvisible"}}</label>
        <input type="checkbox" name="danseurInvisible"/>
    </div>
    {{#if (eq mageData.resonance "jorniste")}}
        <div class="form-group">
            <label>{{ localize "agone.chat.mouvImperceptibles"}}</label>
            <input type="checkbox" name="mouvImperceptibles"/>
        </div>
    {{/if}}
    {{#if mageData.specialisation}}
        <div class="form-group">
            <div>{{ localize "agone.actors.specialisation"}}  <span class="bold">{{mageData.labelSpecialisation}}</span></div>
            <input type="checkbox" name="utiliseSpecialisation"/>
        </div>
    {{/if}}
    <div class="form-group">
        <label>{{ localize "agone.chat.utiliseHeroisme"}}</label>
        <input type="checkbox" name="utiliseHeroisme"/>
    </div>
</form>