<form>
    <div class="form-group">
        <label>{{ localize "agone.actors.caracteristique"}}</label>
        <select name="caracteristique">
        {{#select caracteristique}}
            {{#each data.caracteristiques as |name key|}}
                {{#unless (eq key "aucun")}}
                    {{#if (eq key ../defCarac)}}
                        <option value="{{key}}" selected>{{localize name}}</option>
                    {{else}}
                        <option value="{{key}}">{{localize name}}</option>
                    {{/if}}
                {{/unless}}
            {{/each}}
        {{/select}}
        </select>
    </div>
    <div class="form-group">
        <label>{{ localize "agone.chat.difficulte"}}</label>
        <input type="number" name="difficulte" value="15" min="0"/>
    </div>
    {{#if specialisation}}
        <div class="form-group">
            <div>{{ localize "agone.actors.specialisation"}}  <span class="bold">{{labelSpecialisation}}</span></div>
            <input type="checkbox" name="utiliseSpecialisation"/>
        </div>
    {{/if}}
    <div class="form-group">
        <label>{{ localize "agone.chat.utiliseHeroisme"}}</label>
        <input type="checkbox" name="utiliseHeroisme"/>
    </div>
</form>