<form>
    <div>Jeter le sort <span class="bold">{{sortData.nomSort}}</span> avec le danseur <span class="bold">{{danseurData.nomDanseur}}</span></div>
    <div>{{ localize "agone.actors.potEmprise"}} <span class="bold">{{mageData.potEmprise}}</span> - {{ localize "agone.items.seuil"}} <span class="bold">{{sortData.seuilTotal}}</span></div>
    {{#if sortData.diffObedience}}<div class="txt-small">{{localize "agone.chat.seuilDetail" seuil=sortData.seuil }}</div>{{/if}}
    <div class="form-group">
        <label>{{ localize "agone.chat.magieInstantanee"}}</label>
        <input type="checkbox" name="magieInstantanee"/>
    </div>
    <div class="form-group">
        <label>{{ localize "agone.chat.danseurInvisible"}}</label>
        <input type="checkbox" name="danseurInvisible"/>
    </div>
    {{#if (eq mageData.resonance "jorniste")}}
        <div class="form-group">
            <label>{{ localize "agone.chat.mouvImperceptibles"}}</label>
            <input type="checkbox" name="mouvImperceptibles"/>
        </div>
    {{/if}}
    <div class="form-group">
        <label>{{ localize "agone.chat.utiliseHeroisme"}}</label>
        <input type="checkbox" name="utiliseHeroisme"/>
    </div>
</form>