<div class="jet-comp">
    <details>
        <summary class="roll-titre">
            <span>
                {{#if stats.titrePersonnalise}} 
                    {{stats.titrePersonnalise}} 
                {{else}}
                    {{#if stats.rangComp}}{{stats.labelComp}} + {{/if}}{{stats.labelCarac}}
                    {{#if stats.difficulte}}<span>▪ {{localize "agone.chat.difficulteAbrev"}} </span><span class="bold">{{stats.difficulte}} </span>{{/if}}
                    {{#if stats.isJetDefaut}}<span>▪ <a class="nohlight spec" title="Jet par défaut"><i class="fa-light fa-circle-chevron-down"></i></a></span>{{/if}}
                {{/if}}
                    {{#if stats.utiliseSpecialisation}}<span>▪ <a class="nohlight spec" title="{{stats.labelSpecialisation}}"><i class="fa-duotone fa-solid fa-award"></i></a></span>{{/if}}
                    {{#if stats.utiliseHeroisme}}<span>▪ <a class="nohlight spec" title="{{localize 'agone.chat.utilisationHeroisme'}}"><i class="fa-solid fa-fire-flame-curved"></i></a></span>{{/if}}
            </span>
        </summary>
        <div class="roll-details">{{#if stats.rangComp}}{{stats.labelComp}} ({{stats.rangComp}}) + {{/if}}
            {{stats.labelCarac}} ({{stats.rangCarac}}) 
            {{#if stats.labelAspect}} + {{stats.labelAspect}} ({{stats.bonusAspect}}){{/if}}
            {{#if stats.malusArmure}} + {{localize "agone.chat.malusArmure"}} ({{stats.malusArmure}}){{/if}}
            {{#if stats.malusBlessureGrave}} + {{localize "agone.chat.malusBlessureGrave"}} ({{stats.malusBlessureGrave}}){{/if}}
            {{#if stats.modificateurs}} + {{localize "agone.chat.modificateurs"}} ({{stats.modificateurs}}){{/if}}
            {{#if stats.utiliseSpecialisation}} + {{localize "agone.actors.specialisation"}} {{stats.labelSpecialisation}} (1){{/if}}
        </div>
        {{#if stats.utiliseHeroisme}}
            <div class="roll-details">{{localize "agone.chat.utilisationHeroisme"}} (5)</div>
        {{/if}}
    </details>
    {{> "systems/agone/templates/partials/dice/jet-dices-details.hbs"}}
    {{#if stats.infosAttaque}}
        {{> "systems/agone/templates/partials/dice/jet-resultat-dommages.hbs"}}
    {{else}}
        {{> "systems/agone/templates/partials/dice/jet-resultat.hbs"}}
    {{/if}}
</div>
