<div class="jet-oeuvre">
    <div class="txt-small">Exécution de l'oeuvre <span class="bold">{{oeuvre.name}}</span> (difficulté <span class="bold">{{stats.difficulte}}</span>)</div>
    <div class="txt-small bold">{{localize "agone.actors.potArtMagique"}} ({{artiste.potArtMagique}})
        {{#if stats.malusBlessureGrave}} + {{localize "agone.chat.malusBlessureGrave"}} ({{stats.malusBlessureGrave}}){{/if}}
        {{#if stats.modificateurs}}<span> + {{localize "agone.chat.modificateurs"}} ({{stats.modificateurs}})</span>{{/if}}
    </div>
    {{#if stats.specialisation}}
        <div class="txt-small">{{localize "agone.actors.specialisation"}} <span class="bold">{{stats.labelSpecialisation}}</span></div>
    {{/if}}
    {{#if stats.utiliseHeroisme}}
        <div class="txt-small bold">{{localize "agone.chat.utilisationHeroisme"}}</div>
    {{/if}}
    {{#if stats.isFumble}}
        <div class="dice-tooltip"><div class="dice-rolls fumble"><span class="fumble">{{localize "agone.chat.fumble"}}</span><div class="roll die d10 min">1</div></div></div>
    {{/if}}
    <div>{{{roll}}}</div>
    {{#if stats.echecResistance}}
        <div class="resultat">{{localize "agone.chat.echecResistance"}}</div>
        <div>{{{stats.rollResistance}}}</div>
    {{else}}
        {{> "systems/agone/templates/partials/dice/jet-resultat.hbs"}}
    {{/if}}
</div>
