<div class="jet-carac">
    <div class="txt-small">
        {{#if stats.titrePersonnalise}} 
            {{stats.titrePersonnalise}} 
        {{else}}
            {{localize "agone.actors.jetCarac"}} 
            {{#if stats.difficulte}}
                <span> - {{localize "agone.chat.difficulte"}} </span><span class="bold">{{stats.difficulte}}</span>
            {{/if}}
        {{/if}}
    </div>
    <div class="txt-small bold">{{stats.labelCarac}} ({{stats.rangCarac}}) x 2 
        {{#if stats.labelAspect}} + {{stats.labelAspect}} ({{stats.bonusAspect}}){{/if}}
        {{#if stats.malusArmure}} + {{localize "agone.chat.malusArmure"}} ({{stats.malusArmure}}){{/if}}
        {{#if stats.malusBlessureGrave}} + {{localize "agone.chat.malusBlessureGrave"}} ({{stats.malusBlessureGrave}}){{/if}}
    </div>
    {{#if stats.utiliseHeroisme}}
        <div class="txt-small bold">{{localize "agone.chat.utilisationHeroisme"}}</div>
    {{/if}}
    {{#if stats.isFumble}}
        <div class="dice-tooltip"><div class="dice-rolls fumble"><span class="fumble">{{localize "agone.chat.fumble"}}</span><div class="roll die d10 min">1</div></div></div>
    {{/if}}
    <div>{{{roll}}}</div>
    <div>{{roll.formula}}</div>
    {{#if stats.difficulte}}
        <h3 class="resultat">{{localize "agone.chat.marge"}} {{stats.marge}}</h3>
        {{#if (gt stats.marge 0)}}
            <h3 class="resultat">{{localize "agone.chat.succes"}}</h3>
        {{else}}
            {{#if stats.isEchecCritique}}
                <h3 class="resultat fumble">{{localize "agone.chat.echecCritique"}} ({{stats.valeurCritique}})</h3>
            {{else}}
                <h3 class="resultat">{{localize "agone.chat.echec"}}</h3>
            {{/if}}
        {{/if}} 
    {{else}}   
        {{#if stats.isEchecCritique}}
            <h3 class="resultat fumble">{{localize "agone.chat.echecCritique"}} ({{stats.valeurCritique}})</h3> 
        {{/if}}
    {{/if}}
</div>
