<div class="jet-oeuvre">
    <div class="roll-desc">{{localize "agone.chat.executionOeuvre"}} <span class="bold">{{oeuvre.name}}</span></div>
    <details>
        <summary class="roll-titre">
            <span>{{localize "agone.actors.potArtMagique"}} </span><span class="bold">{{artiste.potArtMagique}}</span><span> ▪ {{localize "agone.chat.difficulteAbrev"}} </span><span class="bold">{{stats.difficulte}}</span>
            {{#if stats.utiliseSpecialisation}}<span>▪ <a class="nohlight spec" title="{{stats.labelSpecialisation}}"><i class="fas fa-award"></i></a></span>{{/if}}
            {{#if stats.utiliseHeroisme}}<span>▪ <a class="nohlight spec" title="{{localize 'agone.chat.utilisationHeroisme'}}"><i class="fa-solid fa-fire-flame-curved"></i></a></span>{{/if}}
        </summary>
        <div class="roll-details">{{localize "agone.actors.potArtMagique"}} ({{artiste.potArtMagique}})
            {{#if stats.malusBlessureGrave}} + {{localize "agone.chat.malusBlessureGrave"}} ({{stats.malusBlessureGrave}}){{/if}}
            {{#if stats.modificateurs}}<span> + {{localize "agone.chat.modificateurs"}} ({{stats.modificateurs}})</span>{{/if}}
            {{#if stats.utiliseSpecialisation}} + {{localize "agone.actors.specialisation"}} <span class="bold">{{stats.labelSpecialisation}} (1)</span>{{/if}}
        </div>
        {{#if stats.utiliseHeroisme}}
            <div class="roll-details">{{localize "agone.chat.utilisationHeroisme"}}</div>
        {{/if}}
    </details>
    {{> "systems/agone/templates/partials/dice/jet-dices-details.hbs"}}
    {{#if stats.echecResistance}}
        <div class="roll-result">{{localize "agone.chat.echecResistance"}}</div>
        <div class="dices-pool">
            {{#each stats.resistDices as |dice|}}
                <div class="dice-back">
                    <div class="roll {{dice.classes}}">{{{dice.result}}}</div>
                </div>
            {{/each}}
        </div>
        <div class="roll-total">{{stats.resistTotal}}</div>
    {{else}}
        {{> "systems/agone/templates/partials/dice/jet-resultat.hbs"}}
    {{/if}}
</div>
