{{#if stats.isEchecCritiqueJetDe}}
    <div class="roll-result fumble">{{localize "agone.chat.echecCritique"}}</div>
    <div>{{localize stats.nomCritique}} ({{stats.valeurCritique}})</div>
{{/if}}
{{#if stats.infosAttaque}}
    <div class="roll-result">Pare l'attaque de {{stats.infosAttaque.nomAttaquant}} <span class="small-text">[Jet {{stats.infosAttaque.resultatJet}}
        {{#unless (eq stats.infosAttaque.bonusDommages 0)}} - BD {{stats.infosAttaque.bonusDommages}}{{/unless}}]</span></div>
    {{#unless stats.attaqueTouche}}
        <div class="roll-result">{{localize "agone.chat.succes"}}</div>
        <div class="roll-result">{{localize "agone.chat.marge"}} {{stats.marge}}</div>
    {{else}}
        <div class="roll-result">{{localize "agone.chat.echec"}}</div>
        {{#if (gt stats.dommagesRecus 0)}}
            <div class="roll-result">{{localize "agone.chat.encaisseDommages" dom=stats.dommagesRecus}}</div>
            {{#if stats.blessureCritique}}
                <div>{{localize "agone.chat.blessureCritique"}}</div>
                {{#if stats.lienTableCritique}}<div class="resultat">{{stats.lienTableCritique}}{Jet de blessure critique}</div>{{/if}}
            {{/if}}
            {{#if stats.blessureGrave}}<div>{{localize "agone.chat.blessureGrave"}}</div>{{/if}}
        {{else}}
            <div class="resultat">{{localize "agone.chat.aucunDommages"}}</div>
        {{/if}}    
    {{/unless}}
{{/if}}


