<div class="jet-arme dommages" data-arme-dommages={{arme.data.modifDommages}}>
    <div>
        {{#if (eq type "Attaque")}} 
            {{localize "agone.chat.attaqueAvec" arme=arme.name}}
        {{else}}
            {{localize "agone.chat.paradeAvec" arme=arme.name}}
        {{/if}}
        {{#if stats.difficulte}}
                <span>- {{localize "agone.chat.difficulte"}} </span><span class="bold">{{stats.difficulte}}</span>
        {{/if}}
    </div>
    <div class="txt-small bold">{{stats.labelComp}} ({{stats.rangComp}}) + {{stats.labelCarac}} ({{stats.rangCarac}})
        {{#if stats.labelAspect}} + {{stats.labelAspect}} ({{stats.bonusAspect}}){{/if}}
        {{#if stats.malusBlessureGrave}} + {{localize "agone.chat.malusBlessureGrave"}} ({{stats.malusBlessureGrave}}){{/if}}
        {{#if stats.modifAttaque}}<span> + {{localize "agone.items.modifAttaque"}} ({{stats.modifAttaque}})</span>{{/if}}
        {{#if stats.modifParade}}<span> + {{localize "agone.items.modifParade"}} ({{stats.modifParade}})</span>{{/if}}
        {{#if stats.malusManiement}}<span> + {{localize "agone.chat.malusManiement"}} ({{stats.malusManiement}})</span>{{/if}}
        {{#if stats.modificateurs}}<span> + {{localize "agone.chat.modificateurs"}} ({{stats.modificateurs}})</span>{{/if}}
    </div>
    {{#if stats.specialisation}}
        <div class="txt-small">{{localize "agone.actors.specialisation"}} <span class="bold">{{stats.labelSpecialisation}}</span></div>
    {{/if}}
    {{#if stats.utiliseHeroisme}}
        <div class="txt-small bold">{{localize "agone.chat.utilisationHeroisme"}}</div>
    {{/if}}
    {{#if stats.isFumble}}
        <div class="dice-tooltip"><div class="dice-rolls fumble"><span class="fumble">FUMBLE !!!</span><div class="roll die d10 min">1</div></div></div>
    {{/if}}
    {{{roll}}}
    {{#if stats.difficulte}}
        <h3 class="resultat">{{localize "agone.chat.marge"}} {{#if stats.isEchecCritique}}<span class="fumble">{{stats.marge}}</span>{{else}}{{stats.marge}}{{/if}}</h3>
        {{#if (gt stats.marge 0)}}
            <h3 class="resultat">{{localize "agone.chat.succes"}}</h3>
        {{else}}
            {{#if stats.isEchecCritique}}
                <h3 class="resultat fumble">{{localize "agone.chat.echecCritique"}}</h3>
            {{else}}
                <h3 class="resultat">{{localize "agone.chat.echec"}}</h3>
            {{/if}}
        {{/if}}
    {{/if}}
</div>