<div class="jet-contre-magie">
    <div class="roll-desc">{{localize "agone.chat.contrerMagieTitre"}} <span class="bold">{{danseur.nomDanseur}}</span></div>
    <details>
        <summary class="roll-titre">
            <span>{{localize "agone.actors.potEmprise"}} </span><span class="bold">{{mage.potEmprise}} </span>
            {{#if stats.utiliseSpecialisation}}<span>▪ <a class="nohlight spec" title="{{stats.labelSpecialisation}}"><i class="fa-duotone fa-solid fa-award"></i></a></span>{{/if}}
            {{#if stats.utiliseHeroisme}}<span>▪ <a class="nohlight spec" title="{{localize 'agone.chat.utilisationHeroisme'}}"><i class="fa-solid fa-fire-flame-curved"></i></a></span>{{/if}}
        </summary>
        <div class="roll-details">{{ localize "agone.actors.potEmprise"}} ({{mage.potEmprise}})
            {{#if stats.malusBlessureGrave}} + {{localize "agone.chat.malusBlessureGrave"}} ({{stats.malusBlessureGrave}}){{/if}}
            {{#if stats.utiliseSpecialisation}} + {{localize "agone.actors.specialisation"}} {{stats.labelSpecialisation}} (1){{/if}}
        </div>
        {{#if stats.utiliseHeroisme}}
            <div class="roll-details">{{localize "agone.chat.utilisationHeroisme"}} (5)</div>
        {{/if}}
    </details>
    {{> "systems/agone/templates/partials/dice/jet-dices-details.hbs"}}
    {{> "systems/agone/templates/partials/dice/jet-resultat.hbs"}}
</div>
