<div class="jet-sort">
    {{#if stats.isIntuitif}}
        <div class="roll-desc"><span class="bold">{{danseur.nomDanseur}}</span><span> {{localize "agone.chat.lanceSortMagieIntuitive"}}</span></div>
        <details>
            <summary class="roll-titre">
                <span>{{localize "agone.actors.potEmpriseIntuitive"}} </span><span class="bold">{{mage.potEmprise}}</span><span> ▪ {{localize "agone.chat.difficulteAbrev"}} </span><span class="bold">{{stats.difficulte}}</span>
    {{else}}
        <div class="roll-desc"><span class="bold">{{danseur.nomDanseur}}</span><span> {{localize "agone.chat.lanceSort"}} </span><span class="bold">{{sort.name}}</span></div>
        <details>
            <summary class="roll-titre">
                <span>{{localize "agone.actors.potEmprise"}} </span><span class="bold">{{mage.potEmprise}}</span><span> ▪ {{localize "agone.chat.difficulteAbrev"}} </span><span class="bold">{{stats.difficulte}}</span>
    {{/if}}
                {{#if stats.utiliseSpecialisation}}<span>▪ <a class="nohlight spec" title="{{stats.labelSpecialisation}}"><i class="fa-duotone fa-solid fa-award"></i></a></span>{{/if}}
                {{#if stats.utiliseHeroisme}}<span>▪ <a class="nohlight spec" title="{{localize 'agone.chat.utilisationHeroisme'}}"><i class="fa-solid fa-fire-flame-curved"></i></a></span>{{/if}}
            </summary>
            <div class="roll-details">
                {{#if stats.isIntuitif}}
                    <span>{{localize "agone.actors.potEmpriseIntuitive"}} ({{mage.potEmprise}})</span>
                {{else}}
                    <span>{{localize "agone.actors.potEmprise"}} ({{mage.potEmprise}})</span>
                {{/if}}
                {{#if stats.malusBlessureGrave}}<span> + {{localize "agone.chat.malusBlessureGrave"}} ({{stats.malusBlessureGrave}})</span>{{/if}}
                {{#if stats.danseurInvisible}}<span> + {{localize "agone.chat.danseurInvisible"}}</span>{{/if}}
                {{#if stats.mouvImperceptibles}}<span> + {{localize "agone.chat.mouvImperceptibles"}}</span>{{/if}}
                {{#if stats.utiliseSpecialisation}} + {{localize "agone.actors.specialisation"}} <span class="bold">{{stats.labelSpecialisation}} (1)</span>{{/if}}
            </div>
            {{#if stats.utiliseHeroisme}}
                <div class="roll-details">{{localize "agone.chat.utilisationHeroisme"}} (5)</div>
            {{/if}}
        </details>
    {{> "systems/agone/templates/partials/dice/jet-dices-details.hbs"}}
    {{> "systems/agone/templates/partials/dice/jet-resultat.hbs"}}
</div>
