{{#if stats.isEchecCritiqueJetDe}}
    <h3 class="resultat fumble">{{localize "agone.chat.echecCritique"}} ({{stats.valeurCritique}})</h3> 
{{else}}
    {{#if stats.difficulte}}
        <h3 class="resultat">{{localize "agone.chat.marge"}} {{#if stats.isEchecCritiqueMarge}}<span class="fumble">{{stats.marge}}</span>{{else}}{{stats.marge}}{{/if}}</h3>
        {{#if (gt stats.marge 0)}}
            <h3 class="resultat">{{localize "agone.chat.succes"}}</h3>
        {{else}}
            {{#if stats.isEchecCritiqueMarge}}
                <h3 class="resultat fumble">{{localize "agone.chat.echecCritique"}} ({{stats.valeurCritique}})</h3>
            {{else}}
                <h3 class="resultat">{{localize "agone.chat.echec"}}</h3>
            {{/if}}
        {{/if}}        
    {{/if}}
{{/if}}

