<div class="jet-sort">
    {{#if stats.isIntuitif}}
        <div class="txt-small"><span class="bold">{{danseur.nomDanseur}}</span> {{localize "agone.chat.lanceSortMagieIntuitive"}} ({{localize "agone.chat.difficulte"}} <span class="bold">{{stats.difficulte}}</span>)</div>
        <div class="txt-small bold">{{localize "agone.actors.potEmpriseIntuitive"}} ({{mage.potEmprise}})
    {{else}}
        <div class="txt-small"><span class="bold">{{danseur.nomDanseur}}</span> {{localize "agone.chat.lanceSort"}} <span class="bold">{{sort.name}}</span> ({{localize "agone.chat.difficulte"}} <span class="bold">{{stats.difficulte}}</span>)</div>
        <div class="txt-small bold">{{localize "agone.actors.potEmprise"}} ({{mage.potEmprise}})
    {{/if}}
        {{#if stats.malusBlessureGrave}} + {{localize "agone.chat.malusBlessureGrave"}} ({{stats.malusBlessureGrave}}){{/if}}
        {{#if stats.danseurInvisible}}<span> + {{localize "agone.chat.danseurInvisible"}}</span>{{/if}}
        {{#if stats.mouvImperceptibles}}<span> + {{localize "agone.chat.mouvImperceptibles"}}</span>{{/if}}
        {{#if stats.utiliseSpecialisation}} + {{localize "agone.actors.specialisation"}} <span class="bold">{{stats.labelSpecialisation}} (1)</span>{{/if}}
    </div>
    {{#if stats.utiliseHeroisme}}
        <div class="txt-small bold">{{localize "agone.chat.utilisationHeroisme"}}</div>
    {{/if}}
    {{#if stats.isFumble}}
        <div class="dice-tooltip"><div class="dice-rolls fumble"><span class="fumble">{{localize "agone.chat.fumble"}}</span><div class="roll die d10 min">1</div></div></div>
    {{/if}}
    <div>{{{roll}}}</div>
    {{> "systems/agone/templates/partials/dice/jet-resultat.hbs"}}
</div>
