<div class="jet-comp">
    <div class="txt-small">
        {{#if stats.titrePersonnalise}} 
            {{stats.titrePersonnalise}} 
        {{else}}
            {{localize "agone.actors.jetComp"}} 
            {{#if stats.isJetDefaut}}
                <span> par défaut </span>
            {{/if}}
            {{#if stats.difficulte}}
                <span>- </span><span class="bold">{{localize "agone.chat.difficulte"}} {{stats.difficulte}}</span>
            {{/if}}
        {{/if}}
    </div>
    <div class="txt-small bold">{{#if stats.rangComp}}{{stats.labelComp}} ({{stats.rangComp}}) + {{/if}}{{stats.labelCarac}} ({{stats.rangCarac}}) + {{stats.labelAspect}} ({{stats.bonusAspect}})
        {{#if stats.malusArmure}} + {{localize "agone.chat.malusArmure"}} ({{stats.malusArmure}}){{/if}}
        {{#if stats.malusBlessureGrave}} + {{localize "agone.chat.malusBlessureGrave"}} ({{stats.malusBlessureGrave}}){{/if}}
    </div>
    {{#if stats.specialisation}}
        <div class="txt-small">{{localize "agone.actors.specialisation"}} <span class="bold">{{stats.labelSpecialisation}}</span></div>
    {{/if}}
    {{#if stats.utiliseHeroisme}}
        <div class="txt-small bold">{{localize "agone.chat.utilisationHeroisme"}}</div>
    {{/if}}
    {{#if stats.isFumble}}
        <div class="dice-tooltip"><div class="dice-rolls fumble"><span class="fumble">{{localize "agone.chat.fumble"}}</span><div class="roll die d10 min">1</div></div></div>
    {{/if}}
    <div>{{{roll}}}</div>
    <div>{{roll.formula}}</div>
    {{#if stats.difficulte}}
        <h3 class="resultat">{{localize "agone.chat.marge"}} {{#if stats.isEchecCritique}}<span class="fumble">{{stats.marge}}</span>{{else}}{{stats.marge}}{{/if}}</h3>
        {{#if (gte stats.marge 0)}}
            <h3 class="resultat">{{localize "agone.chat.succes"}}</h3>
        {{else}}
            {{#if stats.isEchecCritique}}
                <h3 class="resultat fumble">{{localize "agone.chat.echecCritique"}}</h3>
            {{else}}
                <h3 class="resultat">{{localize "agone.chat.echec"}}</h3>
            {{/if}}
        {{/if}}
    {{/if}}
</div>
