{{#if stats.isEchecCritiqueJetDe}}
    <div class="roll-result fumble">{{localize "agone.chat.echecCritique"}}</div>
    <div>{{localize stats.nomCritique}} ({{stats.valeurCritique}})</div>
{{else}}
    {{#if stats.difficulte}}
        <div class="roll-result">{{localize "agone.chat.marge"}} {{#if stats.isEchecCritiqueMarge}}<span class="fumble">{{stats.marge}}</span>{{else}}{{stats.marge}}{{/if}}</div>
        {{#if (gt stats.marge 0)}}
            {{#if stats.qualite}}<div class="roll-result">{{localize "agone.chat.qualiteOeuvre"}} {{stats.qualite}}</div>{{/if}}
            <div class="roll-result">{{localize "agone.chat.succes"}}</div>
        {{else}}
            {{#if stats.isEchecCritiqueMarge}}
                <div class="roll-result fumble">{{localize "agone.chat.echecCritique"}}</div>
                <div class="bold">{{localize stats.nomCritique}} ({{stats.valeurCritique}})</div>
            {{else}}
                <div class="roll-result">{{localize "agone.chat.echec"}}</div>
            {{/if}}
        {{/if}}        
    {{/if}}
{{/if}}

